.container {
  display: flex;
}

.title {
  flex: 1 1 auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  font-family: var(--font-rift);
}

.prev {
  flex: 0 0 30px;
  margin-right: 20px;
}

.next {
  flex: 0 0 30px;
}

.icon {
  stroke: var(--dark-color);
}

.disabledIcon {
  opacity: 0.25;
}
