.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  height: 35px;
  width: 174px;
  border: 1px solid black;
  font-size: 15px;
  line-height: 18px;
  font-family: var(--font-proxima);
  background: #fff;
  cursor: pointer;
}

.activeBtn {
  background: var(--dark-color);
  color: white;
  &:hover {
    background: var(--dark-color);
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.trainingTime {
  font-family: var(--font-proxima);
  font-size: 17px;
  font-weight: bold;
}

.singleTrainingTime {
  display: inline-block;
  margin-top: 40px;
  margin-left: 7px;
}
