.container {
  display: flex;
  flex-direction: column;
}

.subtitle {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-rift);
  margin-top: 40px;
}
