.container {
  padding: 2rem 0;

  @media (min-width: 1025px) {
    padding: 0.5rem 0;

    h2 {
      margin-bottom: 0.25rem;
    }
  }
}

.title {
  margin-bottom: 1.5rem;
}

.list {
  padding: 0 0 1rem;
  list-style: none;
  border-bottom: 1px solid rgba(#d8d8d8, 0.5);

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    + li {
      margin-top: 0.5rem;
    }

    span {
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 0.75rem;
    }
  }
}

.timeCompleted {
  text-align: right;
  color: rgba(#111111, 0.5);
}

.viewAll {
  font-size: 0.875rem;
  line-height: 1.5rem;
  appearance: none;
  padding: 0;
  background: transparent;
  border: 0;

  @media (min-width: 1025px) {
    display: block;
    margin-top: -0.25rem;
  }
}
