.container {
  padding: 2rem;
}

.title {
  margin-bottom: 1.5rem;
}

.list {
  padding: 0 0 1rem;
  list-style: none;
  border-bottom: 1px solid rgba(#d8d8d8, 0.5);
}

.viewAll {
  font-size: 0.875rem;
  line-height: 1.5rem;
  appearance: none;
  padding: 0;
  background: transparent;
  border: 0;
}
