$h: 50px;
.container {
  display: flex;
  height: $h;
  line-height: $h;
  flex: 0 0 $h;
}
.prev {
  width: 40px;
  cursor: pointer;
}
.title {
  flex-grow: 1;
  text-align: center;
  font-size: 15px;
}
.next {
  width: 40px;
  text-align: right;
  cursor: pointer;
}
