.container {
    table {
        width:100%;
        padding:10px;
        text-align:center;
        border-spacing:0px;
    }
    thead {
        background-color: #F6F6F6;
    }
    th {
        position:sticky;
        top:0px;
        padding:10px;
        background-color:white;
        border-bottom: 1px solid grey;
    }

    td {
        padding:15px 0;
    }
    
    h1 {
        padding:10px;
    }
}
