.addTitle {
  color: rgba(#444, 0.6);
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa;
  padding: 1rem;
  align-self: flex-start;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);

  &,
  * {
    font-size: 11px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 1px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 1px;
}

.addEvent {
}

.title {
  text-align: center;
  font-size: 1.5rem;
  // border-bottom: solid 1px var(--light-grey-color);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  > div {
    margin-top: 8px;
  }

  button {
    width: 100%;
  }

  button:nth-child(3) {
    margin-left: auto;
  }
}

.formContent {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.formTop {
  flex: 1 1 1px;
}

.timeRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}
