.dateHeading {
  font-size: 16px;
  font-weight: bold;
  color: #707070;

  margin-bottom: 1rem;

  display: flex;
  // justify-content: space-between;
  // align-items: center;

  @media (max-width: 768px) {
    padding-bottom: 0.5rem;
  }
}

.backLink {
  display: block;
  margin-top: -1rem;
  margin-right: 16px;
  font-size: 3rem;
  color: inherit;
  line-height: 1;

  @media (max-width: 992px) {
    margin-top: 0;
  }

  i::before {
    content: '\00d7';
  }
}

.actions {
}
