.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 24px;
}

.date {
  color: #444;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
}
