.container {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.dateHeading {
  font-size: 16px;
  font-weight: bold;
  color: #707070;

  // margin-bottom: 1rem;

  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  flex-grow: 1;
  text-align: center;
  padding-right: 43px;

  @media (max-width: 768px) {
    padding-bottom: 0.5rem;
  }
}

.date {
  border-bottom: 1px solid #e4e4e4;
  padding: 0 5px 5px;
  font-size: 16px !important;
}

.backLink {
  display: block;
  margin-right: 16px;
  font-size: 2.5rem !important;
  color: inherit;
  // line-height: 0.4;
  line-height: 16px !important;

  @media (max-width: 992px) {
    margin-top: 0;
  }

  i {
    font-size: inherit !important;
  }

  i::before {
    content: '\00d7';
  }
}

.actions {
}
