.motorbikeOptions {
}

.option {
}

.motorbikeOptions input:disabled + label {
  opacity: 0.75;
  cursor: default;
}

.full {
  color: #f86b6b;
  padding-left: 0.25rem;
}

.price {
  padding-left: 0.25rem;
}
