.signupPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 88px;
  padding-bottom: 121px;

  background-color: #f8f8f8;

  @media (max-width: 768px) {
    text-align: left;
    align-items: flex-start;
    padding: 40px 32px;
  }
}

.heading {
  width: 536px;
  font-size: 24px;
  color: var(--dark-color);
  font-family: var(--font-rift-bold);
  margin: 0;
  padding: 0;
  padding-bottom: 42px;

  text-transform: uppercase;
  text-align: left;

  @media (max-width: 768px) {
    width: 100%;
    padding-bottom: 27px;
  }
}

.form {
  width: 536px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.input {
  margin-top: 16px;
  &:first-of-type {
    margin-top: 0px;
  }
}

.inputError {
  border: 1px solid var(--danger-color);
  box-shadow: 0px 0px 5px 0px var(--danger-color);
}

.checkbox {
  text-align: left;
  line-height: 1;
  margin-bottom: 24px;
  font-family: var(--font-proxima);
  font-size: 15px;

  @media (max-width: 768px) {
    height: 64px;
    margin-top: 32px;
  }
}

.subtext {
  text-align: left;
  font-size: 14px;
  color: var(--placeholder-color);
  margin-top: 8px;
  margin-bottom: 32px;
}

.error {
  text-align: left;
  font-size: 12px;
  color: var(--danger-color);
  margin-top: 4px;
}

.signup {
  border: none;
  width: 536px;
  cursor: pointer;
  color: white !important;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  font-size: 20px;
  font-family: var(--font-rift-bold);

  &:hover {
    color: white;
    text-decoration: none;
  }

  img {
    width: 32px;
    margin-left: 10px;
  }

  @media (max-width: 768px) {
    margin-top: 40px;
    line-height: 24px;
    width: 100%;
    padding: 16px 25px;
  }
}

.navigation {
  @media (max-width: 768px) {
    display: none;
  }

  a {
    color: var(--grey-color);
    text-decoration: underline;
  }
}

.input {
  &:placeholder {
    color: var(--danger-color);
  }
}
