.addonSelectionItem {
  padding: 2rem;
  background: white;
  font-family: var(--font-proxima);
  box-shadow: 0px 7px 15px -3px var(--light-grey-color);
  margin-bottom: 32px;

  @media (max-width: 767px) {
    &:last-of-type {
      margin-bottom: 48px;
    }
  }
}

.row {
  @media (min-width: 768px) {
    display: flex;
  }
}

.title,
.smallTitle {
  font-family: var(--font-rift-bold);
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: -0.4rem;

  @media (min-width: 768px) {
    margin-bottom: 1rem;
  }
}

.smallTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: -0.4rem;

  @media (min-width: 768px) {
    margin-bottom: 0.5rem;
  }
}

.headerWrap {
  margin-top: -0.375rem;
  margin-bottom: 1rem;
}

.descriptionWrap {
  margin-bottom: 1rem;
}

.description {
  white-space: pre-line;
  font-size: 0.875rem;
}

.priceWrap {
  padding-top: 1rem;
  border-top: 1px solid var(--light-grey-color);
  justify-content: space-between;

  @media (min-width: 768px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}

.headerWrap,
.descriptionWrap,
.priceWrap {
  @media (min-width: 768px) {
    width: 33.3333333333%;
    padding: 0 1rem;
    margin: 0;
    border-top: 0;
    padding-top: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.headerWrap {
  @media (min-width: 992px) {
    width: 35%;
  }
}
.descriptionWrap {
  @media (min-width: 992px) {
    width: 35%;
  }
}

.priceWrap {
  @media (min-width: 992px) {
    width: 30%;
  }
}

.price {
  @extend .title;
  color: #50c56b;
  font-family: var(--font-proxima-bold);
  margin-bottom: 0.5rem;
  line-height: 1;
}

.fullPrice {
  @extend .price;
  font-family: var(--font-proxima);
  font-weight: bold;
  font-size: 1em;
  text-decoration: line-through;
  color: inherit;
  opacity: 0.5;
  margin-bottom: 0.75rem;
}

.freeDelivery {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.selectButton {
  width: 100%;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
}
