.addonSelection {
}

.heading {
  font-family: var(--font-rift-bold);
  font-size: 2rem;
  padding: 0;
  margin: 0;
  margin-top: 2rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.subHeading,
.skipLink {
  margin-top: 0.5rem;
  // font-size: 14px;
  color: var(--grey-color);
  margin-bottom: 24px;
  @media (max-width: 768px) {
    margin-bottom: 1rem;
  }
}

.skipLink {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: var(--font-proxima-bold);

  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.skipArrow {
  width: 20px;
}

.checkoutButton {
  text-transform: uppercase;
  height: 49px;
  width: 249px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-rift);
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: bold !important;
  background: #000;

  > * {
    pointer-events: none;
  }

  @media (max-width: 768px) {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    padding: 0 24px !important;
    .arrowIcon {
      stroke: white;
    }
  }
}

.checkoutWrapper {
  margin: 2rem 0 0;
  padding-bottom: 3rem;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 768px) {
    display: block;
    margin-top: 0;
  }
}

.checkoutContent {
  display: flex;
  justify-content: flex-end;
}

.checkoutButtonTop {
  display: flex;
  justify-content: flex-end;
  margin-top: 88px;

  @media (max-width: 768px) {
    margin-bottom: 32px;
    margin-top: 0;
  }
}

.arrowIcon {
  margin-left: 17px;
  stroke: white;
  @media (max-width: 768px) {
    stroke: var(--primary-color);
  }
}

.checkListContainer {
  border-top: 1px solid rgba(#979797, 0.1);
  padding-top: 32px;

  h4 {
    font-family: var(--font-rift-bold);
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    border-top: none;
    padding-top: 24px;
    margin-bottom: 16px;
  }
}

.checkLists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.plus {
  opacity: 0.25;
  font-size: 36px;

  @media (max-width: 767px) {
    display: none;
  }
}

.provided-title {
  cursor: default;

  h6 {
    text-decoration: none !important;
  }
}

.required {
  font-size: 10px;
  line-height: 12px;
  color: white;
  font-weight: bold;
  background: var(--warning-color);
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 1px;
  white-space: nowrap;

  @media (max-width: 767px) {
    justify-self: flex-end;
  }
}

.provided {
  font-size: 10px;
  line-height: 12px;
  color: var(--dark-color);
  font-weight: bold;
  border: 1px solid var(--dark-color);
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 1px;

  @media (max-width: 767px) {
    justify-self: flex-end;
  }
}

.checkListItem {
  width: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 20px;
  cursor: pointer;

  h6 {
    font-size: 13px;
    line-height: 16px;
    margin: 7px 0 9px;
    text-decoration: underline;

    span {
      display: block;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 48px;
    padding: 8px 0;
    display: grid;
    grid-template-columns: auto auto 1fr;

    h6 {
      margin: 0 0 0 16px;

      span {
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
}

.providedItem {
  cursor: default !important;

  h6 {
    text-decoration: none !important;
  }
}


.addonsGroupContainer {
  
}