.addonSelection {
}

.heading {
  font-family: var(--font-rift-bold);
  font-size: 2rem;
  padding: 0;
  margin: 0;
  margin-top: 2rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.subHeading,
.skipLink {
  margin-top: 0.5rem;
  // font-size: 14px;
  color: var(--grey-color);
  margin-bottom: 43px;
  @media (max-width: 768px) {
    margin-bottom: 1rem;
  }
}

.skipLink {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: var(--font-proxima-bold);

  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.skipArrow {
  width: 20px;
}

.checkoutButton {
  text-transform: uppercase;
  height: 49px;
  width: 249px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-rift);
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: bold !important;

  > * {
    pointer-events: none;
  }

  @media (max-width: 768px) {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    padding: 0 24px !important;
    .arrowIcon {
      stroke: white;
    }
  }
}

.checkoutWrapper {
  margin: 2rem 0 0;
  padding-bottom: 3rem;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 768px) {
    display: block;
    margin-top: 0;
  }
}

.checkoutContent {
  display: flex;
  justify-content: flex-end;
}

.checkoutButtonTop {
  display: flex;
  justify-content: flex-end;
  margin-top: 88px;

  @media (max-width: 768px) {
    margin-bottom: 32px;
    margin-top: 0;
  }
}

.arrowIcon {
  margin-left: 17px;
  stroke: white;
  @media (max-width: 768px) {
    stroke: var(--primary-color);
  }
}
