.container {
  max-width: 480px;

  @media (min-width: 769px) {
    // padding-right: 30px;
  }
}

.title {
  font-size: 24px;
  line-height: 29px;
  font-family: var(--font-rift-bold);
  font-weight: normal;
  // margin-top: 32px;

  @media (max-width: 768px) {
    // margin-top: -10px;
    // margin-left: 30px;
    margin-bottom: 1rem;
  }
}

.titleOrderSummary {
  @media (max-width: 768px) {
    margin-top: -0.2rem;
  }
}

.fadeTitle {
  opacity: 0.4444;
}

.input {
  margin-top: 24px;
  // padding: 0;
  background-clip: padding-box;
}

.subtext {
  // padding-left: 15px;
  text-align: left;
  font-size: 12px;
  color: var(--grey-color);
  margin-top: 8px;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.rowItem {
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 32px;
  &:last-of-type {
    margin-bottom: 18px;
  }

  @media (max-width: 768px) {
    background-color: #fff;
    padding: 0 0 24px;

    input,
    select,
    .cardElementWrapper {
      appearance: none;
      // border: 2px solid #e3e3e3 !important;
      // border-radius: 2px;
      border: 1px solid #141414 !important;
    }

    .cardElementWrapper {
      input {
        border: 0 !important;
      }
    }
  }
}

.rowItemOrderSummary {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

.subtitle {
  min-width: 95px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-rift);
  line-height: inherit;
}

.content {
  padding-top: 10px;
  text-align: right;
  line-height: normal;
}

.highlightedPrice {
  font-size: 20px;
  // color: var(--red-color);
  font-family: var(--font-proxima);
  line-height: 24px;
}

.radiobox {
  margin-top: 24px;
  text-align: left;
  line-height: 1;
  margin-bottom: 24px;
  font-family: var(--font-proxima);
  font-size: 15px;
}

.checkForm {
  margin-top: 3rem;

  @media (max-width: 768px) {
    margin-top: 35px;
  }
}

.checkoutForm {
  color: #707070;
}

.cardDetails {
  margin-top: 0.7rem;
}

.hideCardDetails {
  display: none;
}

.cardLabel {
  width: 100%;
  margin-top: 1rem;

  span {
    display: block;
    margin-bottom: 0.5em;
    color: rgba(#070707, 0.8);

    @media (max-width: 768px) {
      font-size: 15px;
      margin-bottom: 0.25rem;
    }
  }

  .input {
    margin-top: 0;
  }
}

.terms {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.payWith {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImages {
  display: flex;
  align-items: center;
}

.cardImages img {
  margin-left: 2px;
  margin-right: 2px;
  width: 42px;
}

.waiting {
  opacity: 0.5;
  cursor: wait;
}

.disabled {
  opacity: 0.5;
}

.disabledTitle {
  opacity: 0.5;
  margin-bottom: 32px;
}

.error {
  color: var(--danger-color);
  font-size: 12px;
}

.inputError {
  border: 1px solid var(--danger-color) !important;
  box-shadow: 0px 0px 10px -2px var(--danger-color) !important;
}

.cardElementWrapper {
  height: 48px;
  // display: flex;
  // align-items: center;
  padding: 16px 16px;
  background: white;
}

.cvvElementWrapper {
  background-image: url('assets/images/cvc.png');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
}

.actionDiv {
  margin-top: 10px;
  font-size: 15px;
  font-family: var(--font-proxima);
  line-break: 24px;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
  .cardImages img {
    width: 36px;
  }
}

.selectElement select {
  width: 100%;
  height: 48px;
  appearance: none;
  padding: 2px 24px 2px 24px;
  border: none;
  background: white url('assets/icons/dropdownLine.svg') no-repeat
    calc(100% - 24px) center;
}

.postcodeSearchButton {
  font-size: 15px;
  width: 40%;
  padding: 5px;
  justify-content: center;
}

.findPostcodeInput {
  width: 60%;
}

.searchPostcodeInput {
  display: flex;
}

.hiddenOnDesktop {
  @media (min-width: 769px) {
    display: none;
  }
}

.hiddenOnMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.mapButton {
  appearance: none;
  display: inline;
  padding: 0;
  color: var(--primary-color);
  background: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    color: #1f8f77;
    text-decoration: underline;
  }
}

.nextStepsList {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 11px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border: 1px dashed var(--primary-color);
  }

  @media (max-width: 768px) {
    margin: 0 0 1.5rem 11px;
    padding: 0;
  }

  li {
    position: relative;
    padding-left: 25px;
    line-height: 20px;
    font-size: 15px;

    &::before {
      z-index: 1;
      position: absolute;
      display: block;
      content: '';
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-image: url('assets/icons/tickWhite.svg');
      background-color: var(--primary-color);
      line-height: 23px;

      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;

      top: 0;
      left: -11px;
    }

    + li {
      margin-top: 1rem;
    }

    &:last-child {
      &::after {
        content: '';
        display: block;
        width: 2px;
        top: 0;
        left: 0;
        bottom: 0;
        // background-color: inherit;
        position: absolute;
        // background-color: #f8f8f8;
        background-color: #fff;
      }
    }
  }
}

.paymentButton {
  appearance: none;
  border: 0;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
