.container {
  width: 100%;

  @media (min-width: 1200px) {
    display: flex;
  }

  h2,
  h3 {
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 26px;
    margin-bottom: 1.5rem;
  }
}

.noResults {
  display: flex;
  min-height: 250px;
  border: 1px solid var(--light-grey-color);
  color: grey;
  justify-content: center;
  align-items: center;
}

.leftColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightPanel {
  background: white;
  right: 0px;
  padding-top: 20px;
  height: 100%;

  @media (min-width: 991.99px) {
    width: 100%;
    padding: 0 64px !important;
  }

  @media (min-width: 1200px) {
    padding-left: 0 !important;
  }
}

@media (max-width: 991.98px) {
  .rightPanel {
    margin-top: 32px;
    padding: 0px 32px !important;
  }
}

@media (max-width: 767.98px) {
  .rightPanel {
    margin-top: 16px;
    padding: 0px 16px !important;
  }
}
@media (max-width: 575.98px) {
  .rightPanel {
    margin-top: 8px;
    padding: 0px 8px !important;
  }
}

.dashboardTitle {
  margin-top: 1rem;
}

.dashboardSubTitle {
  margin-top: 0.5rem;
}

.dashboardSubTitlePending {
  margin-top: 4rem;
}
