.container {
  width: 100%;
  min-height: 800px;
}

.noResults {
  display: flex;
  min-height: 250px;
  border: 1px solid grey;
  color: grey;
  justify-content: center;
  align-items: center;
}

.leftColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightPanel {
  background: white;
  right: 0px;
  padding-top: 20px;
  height: 100%;
  display: flex;
  border-left: 1px solid lightgray;
}
