.form {
}

.dateInput {
  flex-grow: 1;
}

.noTimes {
  font-size: 14px;
  display: block;
  margin-top: 2px;

  margin-top: -15px;
  margin-bottom: 10px;
}

.addon {
  display: flex;
  align-items: center;

  > div {
    flex-grow: 1;

    > div:first-of-type {
      display: block;
      width: 100%;

      > div:first-of-type {
        display: block;
        width: 100%;
      }
    }
  }

  > button {
    height: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 4px;
  }

  button {
    min-height: 0;
  }
}
