.selectSize {
  border: 1px solid var(--light-grey-color) !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0;
  text-align-last: left;
  text-align: left;
  font-size: 16px !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: #141414;
  opacity: 0.8;
  background-color: #e5e5e5 !important;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgOCA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNi43MjcyNyAwLjYzNjM4M0w0IDMuMzYzNjZMMS4yNzI3MyAwLjYzNjM4MyIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=)
    no-repeat 95% 50%;

  option:disabled {
    color: #ccc;
  }
}

option {
  text-align: left;
}

.error {
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: var(--danger-color);
}
