.selectSize {
  border: 1px solid var(--light-grey-color) !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
  text-align-last: center;
  text-align: center;
  font-size: 16px !important;
  -moz-appearance: none;
  -webkit-appearance: none; 
  appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important;


  option:disabled {
    color: #ccc;
  }
}

.error {
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: var(--danger-color);
}
