$grey: #7a8590 + 20;
.icon-calendar-ok {
  text-align: center;
  position: absolute;
  left: 35%;
  top: 30%;

  .calendar {
    width: 150px;
    height: 150px;
    box-shadow: inset 0 50px 0 #ce5f5f, inset 0 -3px 5px #666 + 60,
      inset 0 200px 0 #fff, 0 3px 5px #000 + 40, 7px 10px 0 $grey,
      -7px 10px 0 $grey;
  }

  .calendar:before {
    z-index: 999;
    content: "";
    color: #000;
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 100px;
    font-family: sans-serif;
  }

  .calendar:after {
    position: absolute;
    content: "JAN";
    left: 45px;
    top: 5px;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
  }

  .checkmark {
    margin-top: 75px;
    display: inline-block;
    &:after {
      /*Add another block-level blank space*/

      content: "";
      display: block;

      /*Make it a small rectangle so the border will create an L-shape*/
      width: 15px;
      height: 30px;

      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid green;
      border-width: 0 10px 10px 0;

      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
    }
  }
}
