.answerItem {
  padding: 24px 33px;

  @media screen and (min-width: 728px) {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #eee;
    margin-bottom: 16px;
  }

  img {
    max-width: 100%;
  }
}

.isSelected {
  background: #f8f8f8 !important;

  @media screen and (min-width: 728px) {
    background: none !important;
  }
}

.questionItem {
  padding: 24px 33px;
  font-size: 15px;
  align-items: center;
  font-family: var(--font-proxima);
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px #e8e8e8;

  @media screen and (min-width: 728px) {
    border: 1px solid #eee;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 16px;
  }
}

.questionContainer {
  padding: 0 33px;
  padding-top: 36px;
  padding-bottom: 20px;
}

.subHeading {
  color: black;
  font-family: var(--font-rift-bold);
  font-size: 24px;
}

.heading {
  color: black;
  font-size: 60px;
  font-family: var(--font-rift-bold);
  text-align: center;
  margin: 48px 0;

  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.faqsContainer {
  background: white;
}

.categoryContainer {
  @media screen and (min-width: 728px) {
    display: flex;
  }
}

.cardContainer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 24px 20px;
  cursor: pointer;
  margin-bottom: 1px;
  display: flex;
  max-height: 64px;
  align-items: center;

  @media screen and (min-width: 728px) {
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    flex-direction: column;
    max-height: 100%;
  }

  p {
    padding: 0;
    margin: 0;
    font-family: var(--font-rift);
    font-size: 15px;
    font-weight: 600;
  }
}

.selectedCard {
  background-color: white !important;
  border-top: 3px solid #f8f8f8 !important;
}

.rightPane {
  margin-left: 100px;
  width: 100%;
}

.desktopPane {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.desktopFlex {
  display: flex;
  margin-top: 80px;
}

.questionCardDesktop {
  border: 1px solid #e8e8e8;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 344px;
  width: 344px;

  &:hover {
    border: 1px solid #919191;
    transition: border 0.2s ease;
  }
}

.desktopHeading {
}

.topCategoryTitle {
  font-size: 15px;
  @media screen and (min-width: 728px) {
    font-size: 18px !important;
    text-align: center;
  }
}

.categoryImg {
  width: 32px;
  margin-right: 16px;
  @media screen and (min-width: 728px) {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    width: 35px;
  }
}

.questionHeading {
  font-size: 15px !important;
  font: var(--font-proxima-bold) !important;
}

.isSelectedDesktop {
  border: 1px solid #000;
  border-left: 4px solid #000;
}

.desktopHeadingAnswer {
  font-family: var(--font-rift-bold);
  font-size: 24px;
  margin-bottom: 24px;
}

.needMoreText {
  font-size: 15px;
  text-align: center;
  font: var(--font-proxima-bold) !important;

  @media screen and (max-width: 500px) {
    text-align: left !important;
  }
}

.needMore {
  padding: 48px 0;

  @media screen and (max-width: 500px) {
    padding: 33px;
    display: block;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 24px;
    font-family: var(--font-rift-bold);
  }

  p {
    font-size: 15px;
    text-align: center;
    font: var(--font-proxima-bold) !important;
  }
}

.submitButton {
  display: flex;
  width: auto;
  height: 46px;
  background-color: #2cceac;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding-right: 24px;
  padding-left: 24px;

  @media screen and (max-width: 500px) {
    width: 100%;
    display: block;
    margin: 0 !important;
    margin-bottom: 12px !important;
  }

  span {
    padding-left: 10px;
  }
}

.submitButton2 {
  display: flex;
  width: auto;
  height: 46px;
  background-color: #2cceac;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding-right: 24px;
  padding-left: 24px;
  a {
    color: white !important;
  }
}

.hollow {
  background-color: #fff !important;
  border: 1px solid #2cceac !important;
  color: #2cceac !important;
}

.hollowText {
  color: #2cceac !important;
}

.submitButtonText {
  color: #ffffff;
  font-family: var(--font-rift);
  font-size: 18px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;

  @media screen and (max-width: 500px) {
    width: 100%;
    display: block;
  }

  button {
    margin: 0px 10px;
  }
}

.contactModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  overflow: scroll;
  z-index: 10000;
}

.seperator {
  width: 100%;
  background: #f8f8f8;
  height: 10px;
}

.closeButtonSvg {
  margin-left: 10px;
}
