.landingPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 144px;
  padding-bottom: 144px;

  background-color: #f8f8f8;

  @media (max-width: 768px) {
    text-align: left;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.heading {
  font-size: 24px;
  color: var(--dark-color);
  font-family: var(--font-rift);
  font-weight: bold;
  margin: 0;
  padding: 0;

  padding-bottom: 50px;

  text-transform: uppercase;
}

.subaction {
  margin-top: 64px;
  font-family: var(--font-proxima);
}

.email {
  width: 536px;
  cursor: pointer;
  color: white !important;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 32px;

  font-size: 20px;
  font-family: var(--font-rift);

  &:hover {
    color: white;
    text-decoration: none;
  }

  img {
    width: 32px;
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 16px 32px;
    justify-content: flex-start;
  }
}

.navigation {
  @media (max-width: 768px) {
    display: none;
  }

  a {
    color: var(--grey-color);
    text-decoration: underline;
  }
}
