.input {
  width: 100%;
  height: 48px;
  border: none;
  background: white;
  padding-left: 16px;

  color: var(--dark-color);
  font-family: var(--font-proxima);
  font-size: 15px;
  &::placeholder {
    color: var(--placeholder-color);
  }
}
