@import '../../../../bootstrap';

$warning: #fed697;
$danger: #fe9898;

.courseHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin: -1rem -1rem 1rem;
  padding: 0.5rem 1rem;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 12px;

  span {
    margin-right: 0.3rem;
    font-weight: bold;
  }
}

.actions {
  button {
    margin-left: 8px;
  }
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
}
