@import '../../../../bootstrap';

.courseHeading {
  display: flex;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
  border: solid 1px var(--light-grey-color);

  display: flex;
  align-items: center;

  color: $grey;
  border: solid 1px $grey;
  padding: 4px 8px;
}

.actions {
  button {
    margin-left: 8px;
  }
}
