.container {
  background: #fafafa;
  color: var(--grey-color);
  padding: 1rem;
  margin-bottom: 10px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);

  &,
  * {
    font-size: 11px;
  }

  button {
    min-height: 30px;
  }
}

.header {
  margin-bottom: 0.5rem;

  h4 {
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: bold;
    color: #707070;
  }
}

button.toggleButton {
  font-size: 12px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1rem;

  &,
  * {
    font-size: 12px;
  }
}

.comms {
  margin-bottom: 1.5rem;
}

.deleteWrap {
  text-align: right;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;

  .deleteButton {
    margin-left: auto;
  }
}
