.container {
  background: var(--light-grey-color);
  color: var(--grey-color);
  padding: 8px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
