.container {
  color: var(--grey-color);
  margin-bottom: 10px;

  &,
  * {
    font-size: 11px;
  }

  button {
    min-height: 30px;
  }
}

.header {
  margin-bottom: 0.5rem;

  h4 {
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: bold;
    color: #707070;
  }
}

button.toggleButton {
  font-size: 12px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1rem;

  &,
  * {
    font-size: 12px;
  }
}

.comms {
  margin-bottom: 1.5rem;
}

.deleteWrap {
  text-align: right;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;

  .deleteButton {
    margin-left: auto;
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  > div {
    margin-top: 8px;
  }

  button {
    width: 100%;
  }

  button:nth-child(3) {
    margin-left: auto;
  }
}
