.bookingCompleteBanner {
  background: var(--primary-color);
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 768px) {
    padding: 32px 32px;
  }
}

.heading {
  .title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 15px;
    font-family: var(--font-rift-bold);
  }

  .subTitle {
    font-size: 15px;
    font-family: var(--font-proxima);
    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  img {
    margin-right: 35px;
  }
}

.viewBtn {
  padding: 16px 32px;
  background: white;
  color: var(--primary-color) !important;

  font-size: 20px;
  font-weight: bold;

  img {
    margin-left: 8px;
  }
}

.completeImage {
  @media (max-width: 768px) {
    height: 31px;
    margin-bottom: 21px;
  }
}

.detailsButton {
  align-self: center;
}
