.addonSizes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.size {
  min-width: 40px;
  height: 40px;
  border-radius: 90px;
  border: solid 1px var(--dark-color);
  font-size: 12px;
  color: var(--dark-color);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.selected {
  background: var(--dark-color);
  color: white;
}

.disabled {
  cursor: initial;
  opacity: 0.25;
}
