.container {
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  padding: 16px;
  gap: 4px;

  align-content: center;
  justify-content: center;

  .icon {
    margin-right: 8px;
  }
}

.searchWrapper {
  font-style: normal;

  font-size: 13px;
  line-height: 20px;
}

.miles {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  margin-right: 0px;
  margin-left: auto;
  margin-top: 2px;

  svg {
    margin-top: 0 !important;
    margin-left: 8px;
  }
}
.wrapperChooseADate {
  display: flex;
  color: #141414;

  .date {
    opacity: 0.5;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin-left: 8px;
  }

  .dateBlacked {
    opacity: 1;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.divider {
  width: 100%;
  border-top: 1px solid #141414;
  opacity: 0.1;
}

.searchIcon {
  color: #898989;
  margin-top: 2px;
  height: 17px;
  opacity: 0.5;
}

.dropDownIcon {
  margin-top: 2px;
  margin-right: 0px;
  margin-left: auto;
}
