.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  @media (max-width: 1199px) {
    display: block;
  }
}

.rightContent {
  max-width: 456px;
  justify-self: flex-end;
}

.courseList {
  grid-column: 1 / 3;
}
