.wrap {
  display: block;
}

.slider {
  :global(.slick-slide) {
    display: block;
  }
}

.prevArrow,
.nextArrow {
  width: 24px;
  height: 24px;
  border: 1px solid #141414;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  z-index: 1;
  cursor: pointer;

  img {
    height: 12px;
  }
}

.prevArrow {
  left: 24px;
}

.nextArrow {
  right: 24px;
}

.addonImage {
  // height: 235px;
  object-fit: contain;
  cursor: pointer;
}
