.formGroup {
  // margin-bottom: 1.5rem;
  margin-bottom: 24px;
  font-size: 14px;
}

.label {
  display: block;
  cursor: pointer;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  color: rgba(#444, 0.6);
  margin-bottom: 4px;
}

.labelNoWrap {
  white-space: nowrap;
}

.labelDisabled {
  cursor: initial;
}

.labelFainted {
  opacity: 0.8;
}

@mixin vh() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.labelCheckbox {
  display: inline-flex;
  margin: 0;

  input[type='checkbox'] {
    @include vh();

    + span {
      position: relative;
      padding: 0 0 0 24px;
      user-select: none;
      color: var(--color-primary);
      font-size: 11px;
      line-height: 16px;
      color: rgba(#444, 0.8);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background: var(--color-primary);
        text-align: center;
        transition: background 200ms ease-out;
      }

      &:after {
        content: '';
        //background-color: #b2f5ea;
        position: absolute;
        // top: 0.45rem;
        // left:  0.5rem;
        // width: 1rem;
        // height:  1rem;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type='checkbox'] {
    + span {
      &:after {
        background-color: transparent;
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        top: 1px;
        // margin-left: 0;
        // margin-top: 0;
        width: 5px;
        height: 10px;
        opacity: 0;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        transform: rotate(45deg);
        transition: border-color 0.3s ease;
      }
    }

    &:checked {
      + span {
        &:before {
          content: '';
          //background: #b2f5ea-checked; change checked background color
        }

        &:after {
          content: '';
          opacity: 1;
          //border-bottom: 3px solid #444; change checked checkedbox color
          //border-right: 3px solid #444; change checked checkedbox color
        }
      }
    }
  }
}

.labelCheckboxVertical {
  flex-direction: column-reverse;

  input {
    margin-top: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
}

.datepicker {
  width: 100%;
}

.input,
.select {
  display: block;
  width: 100%;
  height: 20px;
  padding: 0;
  color: #444;
  border: 1px solid transparent;
  border-bottom: 1px dashed #e4e4e4;
  appearance: none;
  outline: none;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;

  @media (max-width: 768px) {
    font-size: 16px !important;
  }

  &:focus {
    border-bottom-color: var(--color-primary);
  }

  &:disabled {
    background-color: transparent;
    // border-bottom-color: transparent;
  }
}

input {
  &.input {
    &.basic {
      padding-left: 5px;
      padding-right: 5px;
    }

    &[type='time'],
    &[type='date'],
    &[type='number'] {
      padding-right: 0;

      &::-webkit-clear-button {
        display: none;
      }
    }
  }
}

select {
  &.select {
    &.basic {
      appearance: menulist-button;
    }

    &:not(:disabled) {
      appearance: menulist-button;
    }

    &.textStyle {
      appearance: none;

      &.basic {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.textStyle:focus:not(:disabled) {
      appearance: menulist-button;
    }

    option[disabled]:not([data-placeholder]),
    option[disabled] {
      color: rgba(#707070, 0.4321);
      text-decoration: line-through;
    }
  }
}

.basic {
  height: 32px;
  border: 1px solid #e4e4e4;

  &:focus {
    border-bottom: 1px solid #e4e4e4;
  }
}

.large {
  height: 40px;
}

.ageInputGroup {
  display: flex;

  // .input {
  //   flex: 1 1 auto;
  //   width: 1%;
  // }

  > div:first-child {
    flex: 1 1 auto;
    width: 1%;

    > div:first-child {
      width: 100%;
    }
  }

  .age {
    color: #707070;
    border-bottom: 1px dashed #e4e4e4;
    white-space: nowrap;
    font-size: 12px;
  }

  .input:focus + .age {
    border-bottom-color: var(--color-primary);
  }
}

.plainText {
  display: flex;
  align-items: center;
}

.textarea {
  // border: 0;
  width: 100%;
  min-height: 65px;
  border: 1px solid #e4e4e4;
  color: #444;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  outline: none;
  padding: 8px 5px;

  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}

.textareaAutoHeight {
  overflow: hidden;
  min-height: 0;
  resize: none;
}

.textareaNoBorder {
  border: 0;
  color: #707070;

  &:disabled {
    background-color: #fff;
    cursor: text;
  }
}

.button {
  height: 40px;
  min-width: 90px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    color: #ffffff;
    background-color: #4259a8;
    border-color: #4259a8;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.button + .button {
  margin-left: 0.5rem;
}

.buttonSecondary {
  background-color: #ededed;
  border-color: #ededed;
  color: rgba(68, 68, 68, 0.4);

  &:hover {
    color: #ffffff;
    background-color: darken(#ededed, 10%);
    border-color: darken(#ededed, 10%);
  }
}

.buttonPrimary {
  background-color: var(--color-primary);

  &:hover {
    color: #ffffff;
    background-color: darken(#4259a8, 10%);
    border-color: darken(#4259a8, 10%);
  }
}

.buttonWhite {
  color: var(--color-primary);
  background-color: #fff;
  border: 1px solid var(--color-primary);
}

.buttonDanger {
  border: 1px solid #eb5757;
  color: #eb5757;
  background: white;

  &:hover,
  &:focus {
    background-color: #eb5757;
    color: white;
    border: 1px solid #eb5757;
  }
}

.buttonLink {
  color: var(--color-primary);
  background-color: transparent;
  border-color: transparent;

  &:hover,
  &:focus {
    color: var(--color-primary);
    text-decoration: underline;
    background-color: transparent;
  }
}

.buttonSmall {
  min-width: 62px;
  height: 23px;
  line-height: 1;
  min-height: 30px;
}

.buttonLarge {
  font-size: 18px;
  min-width: 110px;
}

.colorList {
  display: flex;
  align-items: center;
}

.colorItem {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;
}

.activeColor {
  border: 2px solid;
}

.inputHolder {
  position: relative;
}

.prefix {
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  bottom: 0;
  background: rgba(66, 89, 168, 0.05);
  color: rgba(#444, 0.8);
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prefixBig {
  width: 38px;
}

.prefixInput {
  padding-left: 38px !important;
}

.prefixBigInput {
  padding-left: 48px !important;
}

.customDateInput {
  font-size: 16px !important;
  height: 32px;
  border: 1px solid #e4e4e4;
  color: #444;
  display: block;
  width: 100%;
  font-weight: 500;
  line-height: 32px;
  padding: 0 4px;
}
