.dashboardAdvice {
  h4 {
    font-family: var(--font-rift);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
  a:hover {
    text-decoration: none;
  }
}

.item {
  display: block;

  box-shadow: 0px 12px 10px 0px var(--light-grey-color);
  background: white;
  padding: 40px;
  color: var(--dark-color);

  text-transform: uppercase;
  margin-bottom: 32px;

  cursor: pointer;

  &:hover {
    color: var(--primary-color) !important;
  }
}

.image {
  height: 168px;
  min-height: 168px;
  display: block;
  width: 100%;
  object-fit: none;
}

.title {
  font-size: 20px;
  font-family: var(--font-rift-bold);
  display: flex;
  justify-content: space-between;
}
