.container {
  position: relative;

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 16px;
    overflow: auto;
  }
}

.divider {
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
  margin: 24px 0;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  button {
    width: 100%;

    + button {
      margin-left: 0 !important;
      margin-top: 8px;
    }
  }
}
