.container {
  display: flex;
  padding: 1px 12px;
  margin-bottom: 5px;
  background-color: #fafafa;
  align-items: center;
  padding-right: 0;

  button {
    margin-right: 0 !important;
  }
}

.info {
  font-size: 12px;
  flex-grow: 1;
  font-weight: bold;
}

.button {
  font-size: 12px !important;
  font-weight: bold !important;
}
