.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background: rgba(245, 245, 245, 0.5);
  margin-bottom: 1px;
}

.info {
  font-size: 11px;
  color: rgba(#444, 0.8);
}

.button {
  font-size: 12px;
  height: 20px;
  width: 40px;
  min-width: 0;
}
