.modal {
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;

  position: fixed !important;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;

  border-radius: 0;

  .modalContent {
    padding: 24px;
    border-radius: 0;

    max-height: 80vh;
  }
}

.modalDialog {
}

.modalHeader {
  padding: 0 !important;
  border-bottom: none !important;

  font-family: var(--font-rift);

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;

  padding: 0;
  border-bottom: none;
}

.courseTitle {
  margin-top: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;

  color: #141414;
}

.buttonClose {
  background-color: transparent;
  border: none;
  z-index: 1000;
  padding: 0;
  img {
    width: 19px;
    height: 19px;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;

  padding: 0 !important;
  overflow-y: scroll;
  margin-right: -15px;
  padding-right: 15px;

  span {
    font-family: var(--font-rift);
    // height: 22px;
    margin-bottom: 16px;
  }

  .courseTypesWrapper {
    display: flex;
    justify-content: space-between;

    .coursesCounter {
      font-family: var(--font-inter);
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;

      color: #141414;
      opacity: 0.5;

      margin-right: 20px;
    }
  }

  .inputRadio {
    width: 100%;
    height: 22px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0;

    label {
      padding-left: 32px !important;
      margin-bottom: 0px !important;
    }
  }

  .searchAreaWrapper {
    display: flex;
    justify-content: space-between;
  }

  .currentLocation {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;

    cursor: pointer;

    color: #141414;

    margin-top: 32px;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      margin-bottom: 3px;
    }
  }
}

.boxSelectRadiusIcon {
  padding-left: 12px;
  margin-top: -3px;
  justify-content: center;
}

.boxSelectRadius {
  border: 1px solid #141414 !important;
  border-radius: 0 !important;
}

.boxSelectRadiusIndicator {
  color: #141414;
  opacity: 0.3;
}

.boxSelectRadiusText {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height, or 123% */

  color: #141414;
}

.boxSelectRadiusOption {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 13px !important;
  line-height: 16px;
}

.Box {
  // box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  justify-content: space-between;

  width: 100%;
  height: 36px;

  border: 1px solid #141414;

  .boxSearchText {
    margin-bottom: 0;

    width: 100%;

    .boxSearchInput {
      font-family: var(--font-inter);
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      margin-left: 12px;
      width: 60%;
      border: 0;
      outline: 0;

      &:focus {
        outline: none !important;
      }

      select {
        align-self: flex-end;
        margin-bottom: 8px;
      }
    }
  }

  .searchCloseIcon {
    height: 12px;
    opacity: 0.5;
  }
}

.searchButton {
  margin-top: 32px;
  width: 100%;
  justify-content: center;
}

.loading {
  &::after {
    margin-top: 16px;
  }
}

.boxSearchIcon {
  width: 16px;
  height: 16px;
  color: #141414;
  opacity: 1;
}

.iconArrowDown {
  height: 25px;
  width: 25px;
  opacity: 0.5;
  margin-right: -6px;
}
