.list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 -1rem 0;
  list-style: none;
  margin-bottom: -0.5rem;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.listItem {
  flex-grow: 1;

  @media (min-width: 768px) {
    display: block;
    flex-grow: 0;
  }
}

.filterButton {
  appearance: none;
  border: 0;
  background: transparent;
  padding: 0.25rem 0 0.5rem;
  // font-size: 1.125rem;
  // font-family: var(--font-proxima-bold);
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
    padding: 0;
  }

  &:focus {
    outline: 0;
  }

  &.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);

    @media (min-width: 768px) {
      text-decoration: underline;
      border-bottom: 0;
    }
  }
}
