.header,
.body,
.buttons {
  padding: 1rem 2rem;
}

.buttons {
  padding-bottom: 2rem;
  text-align: right;

  > button {
    font-size: 12px;
    padding: 0px 8px;
    margin-left: 30px !important;
  }
}

.header {
  color: white;
  background-color: #455aa3;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
.courseName,
.courseDetails {
  border: 1px solid #eaeaea;
}

.courseName {
  color: #707070;
  padding: 0.5rem 1rem;
  width: fit-content;
  padding-right: 40px;
}

.courseDetails {
  margin-top: 1rem;

  .tableHead {
    background-color: #f6f8fa;
    color: #707070;

    tr {
      font-size: 14px;
      border-bottom: 1px solid #eaeaea;
    }
    th {
      padding: 0.5rem 1rem;
    }
  }
  .tableBody {
    color: #707070;
    tr:not(:last-child) {
      border-bottom: 1px solid #eaeaea;
    }
    td {
      padding: 1rem;
    }
  }
}

.bikePicker {
  justify-content: center;
}
