.ring {
  width: 24px;
  height: 24px;
  border: 3px solid var(--dashboard-green);
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
}

.complete {
  background-color: var(--dashboard-green);
}

.nextStep {
}

.notStarted {
  border-color: #d8d8d8;
}

.tick {
  color: #fff;
}

.ringTransparent {
  background-color: transparent;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.ringPulsate {
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
