.title {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 23px;
  margin-bottom: 0.25rem;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  border: 2px solid #e4e4e4;
  padding: 25px;

  @media (max-width: 768px) {
    margin-top: 30px;
    display: block;

    &:first-child {
      margin-top: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.container {
  margin-top: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  // h3 {
  //   margin-right: 1rem;
  // }

  p {
    margin-bottom: 0;
  }
}

.headerText {
  width: 100%;
}

.fullName {
  margin-right: 0.5rem;
}

.editForm {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.button {
  align-self: flex-end;
}

.userTable {
  padding: 30px 0 0;
  width: 100%;
}

.userRow {
  display: grid;
  grid-template-columns: 1fr 3fr 200px;
  grid-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(black, 0.2);

  > * {
    &:last-child {
      justify-self: center;
    }
  }
}

.headerRow {
  font-weight: 600;
  padding-bottom: 10px;
}

.supplierNames {
  > span {
    display: block;
    font-size: 12px;
  }
}
