.mobileBackToMonth {
  font-size: 1rem;
  margin: 0;

  button {
    appearance: none;
    border: 0;
    padding: 0;
    background: transparent;

    span {
      color: var(--primary-color);
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.hidden {
  display: none;
}
