.container {
  margin-top: 2rem;

  @media (min-width: 1025px) {
    margin-top: 0;
  }
}

.slide {
  position: relative;
  display: flex;
  height: 312px;
  background: rgba(#c2c2c2, 0.1);
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  img {
    // max-width: 120px;
    // max-height: 120px;
    max-width: calc(100% - 1rem);
    max-height: 195px;

    @media (min-width: 1025px) {
      max-height: 139px;
    }
  }

  @media (min-width: 1025px) {
    height: 256px;
    margin-right: 4px;
    margin-left: 4px;
  }

  .title {
    position: absolute;
    bottom: 2rem;
    font-size: 1.25rem;
    margin: 0;
    color: var(--dark-color);
  }
}

.descSlide {
  img {
    margin-top: -4rem;

    @media (min-width: 1025px) {
      margin-top: -2rem;
    }
  }

  .title {
    bottom: 3.4rem;

    @media (min-width: 1025px) {
      bottom: 2.9rem;
    }
  }

  .description {
    position: absolute;
    right: 0;
    bottom: 16px;
    left: 0;
    margin-bottom: 0;
    font-size: 0.85rem;
    line-height: 1.2;
    color: var(--dark-color);
    min-height: 32px;

    span {
      color: var(--primary-color);
    }

    @media (min-width: 1025px) {
      bottom: 10px;
    }
  }
}
