.singleEvent {
  position: absolute;

  z-index: 3;
  flex-shrink: 1;

  &:last-of-type {
    margin-right: 0;
  }

  border: 1px solid #fff;

  cursor: pointer;
  border-radius: 2px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
    transition: opacity 100ms linear;
  }
}
.selectedEvent {
  /* the .selected-event class is added when an user select the event */
  visibility: hidden;
}

.content {
  background: white;
  float: left;
  -webkit-transition: opacity 0.2s, background 0.2s;
  transition: opacity 0.2s, background 0.2s;
  border: 1px solid #fff;
  font-size: 0.8rem;
  -ms-flex-negative: 1;
  margin-right: 0;
  overflow: hidden;
  word-break: break-all;
  padding: 3px;
  width: 100%;
  height: 100%;
}

.singleEventEvent {
  .content {
    background-color: #ebebeb;
    border: 0;

    .eventName {
      font-weight: bold;
    }
  }
}

.clickedCourse {
  z-index: 99 !important;

  &::before {
    opacity: 1;
  }
}

.warning {
  border: 1px solid var(--warning-color);
}
.danger {
  border: 1px solid var(--danger-color);
}
.primary {
  border: 1px solid var(--primary-color);
}
.textWarning {
  color: var(--warning-color);
}
.textDanger {
  color: var(--danger-color);
}
.eventName,
.eventDate,
.eventTime {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eventName,
.eventTime {
  font-size: 0.8rem;
}

.eventDate {
  /* they are not included in the the HTML but added using JavScript */
  font-size: 1rem;
  opacity: 0.7;
  line-height: 1.2;
  margin-bottom: 0.2em;
}
.order {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .content {
    background: var(--grey-color);
    border-radius: 10px;
    > span {
      display: none;
    }
    > div {
      display: none;
    }
  }
  .warning {
    background: var(--warning-color);
  }
  .danger {
    background: var(--danger-color);
  }
  .primary {
    background: var(--primary-color);
  }
}
