.singleEvent {
  position: absolute;
  z-index: 3;
  flex-shrink: 1;
  padding: 4px;

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(26, 21, 21, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
    transition: opacity 100ms linear;
  }
}
.selectedEvent {
  /* the .selected-event class is added when an user select the event */
  visibility: hidden;
}

.content {
  border-radius: 2px;
  transition: opacity 0.2s, background 0.2s;
  font-size: 11px;
  padding: 8px;
  overflow: hidden;
  word-break: break-all;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  color: var(--color-dark-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.singleEventEvent {
  .content {
    background-color: #ebebeb;
    border: 0;

    .eventName {
      font-weight: bold;
    }
  }
}

.clickedCourse {
  z-index: 99 !important;

  &::before {
    opacity: 1;
  }
}

.warning {
  background-color: #f8d69f;
}
.danger {
  background-color: #ff9292;
}
.primary {
  background-color: var(--primary-color);
}
.textWarning {
  color: darken(#ffcfa0, 10%);
}
.textDanger {
  color: darken(#fe9898, 10%);
}

.eventName {
  font-weight: bold;
}

.eventName,
.eventDate,
.eventTime,
.eventInst,
.eventSpaces {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0.25rem;
}

.eventInst {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.eventSpaces {
  font-weight: bold;
  margin-bottom: 1rem;
}

.order {
  display: flex;
  flex-direction: column;
}

// @media (max-width: 768px) {
//   .content {
//     background: var(--grey-color);
//     // border-radius: 10px;
//     > span {
//       display: none;
//     }
//     > div {
//       display: none;
//     }
//   }
//   .warning {
//     background: var(--warning-color);
//   }
//   .danger {
//     background: var(--danger-color);
//   }
//   .primary {
//     background: var(--primary-color);
//   }
// }

.eventsNotes {
  margin-top: 1rem;
}

.notesContent {
  font-size: 10px;
  font-style: italic;
}

.instructorIcon {
  width: 17px;
  vertical-align: text-bottom;
}

.instructorIconSmall {
  @extend .instructorIcon;
  width: 14px;
}
