.detailsAccordionItem {
  margin-bottom: 24px;
}

.content {
  transition: max-height 0.2s ease-in-out;
  height: auto;
  max-height: 0;
  overflow: hidden;

  font-size: 14px;
  font-family: var(--font-proxima);
  opacity: 0.6;
  color: #141414;
}

.open {
  max-height: 200px;
}

.action img {
  width: 16px;
  height: 16px;
}

.heading {
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-rift);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
