.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bgBlack {
  background-color: black;
}

.bodyContainer {
  position: relative;
  padding: 0 0 20px;
  padding-bottom: 20px;
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bodyContainerGrey {
  background-color: #f6f6f6;
}

.bodyContainerCalendar {
  padding-bottom: 0;
}
