.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  margin-bottom: 10px;

  background-color: #f0f0f0;
  white-space: now;
}

.col {
  margin-right: 8px;
}

.name {
  flex-grow: 1;
  text-align: left;
  margin-right: 8px;
}

.actions {
  width: 60px;
}
