.container {
  padding: 6px 12px;
  margin-bottom: 6px;

  background-color: #fafafa;
  white-space: now;

  font-size: 12px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: bold;
}

.bikeType,
.status {
  font-weight: bold;
}

.editButton {
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--primary-color);
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: #1f8f77;
    text-decoration: underline;
  }
}
