.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 12px;
  margin-bottom: 6px;

  background-color: #fafafa;
  white-space: now;
}

.col {
  margin-right: 8px;
}

.name {
  flex-grow: 1;
  text-align: left;
  margin-right: 8px;
}

.inlineButton {
  padding: 0 10px !important;
}
