.container {
  position: relative;
  // width: 100%;
  // max-width: 422px;
  display: inline-block;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
    max-width: 422px;
  }
}

.containerLarge {
  width: 100%;
  max-width: 285px;
}

.select {
  // width: 160px;
  height: 38px;
  min-width: 0;
  padding-right: 1rem;
  padding-left: 0.5rem;
  background-color: #fff;
  color: #707070;
  border-radius: 0;
  border: 1px solid #e4e4e4;
}

.selectLarge {
  width: 100%;
}
