.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: 768px) {
    margin-right: 7px;
    margin-left: 7px;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.daysContainer {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .container {
    li {
      height: auto !important;
      border: 1px solid #ededed;
      // width: 100%;
      padding: 5px;
      margin-bottom: -1px;
    }
  }
}
