.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.daysContainer {
  overflow: hidden;
  // margin-right: -15px;
  display: flex;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .container {
    margin-top: 46px;

    height: calc(100vh - 102px);

    li {
      // height: auto !important;
      border: 1px solid #ededed;
      // width: 100%;
      padding: 10px;
      margin-bottom: -1px;
    }
  }
}
