.container {
  cursor: default;
  min-height: 650px;
  overflow-x: auto;

  table {
    color: #707070;
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    border: 1px solid #acacac;
    font-size: 15px;
    min-width: 850px;
  }

  th {
    position: sticky;
    top: 0px;
    padding: 10px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #acacac;
  }

  .asc::after {
    content: '⬇';
  }

  .desc::after {
    content: '⬆';
  }

  tr:hover {
    background-color: #ddf9f3;
  }

  td {
    padding: 10px 0;
    margin: 0 10px;
  }

  h1 {
    padding: 10px;
  }
}
