.container {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  color: rgba(#444, 0.8);
  font-weight: 500;
  padding: 8px 12px;
  background: rgba(66, 89, 168, 0.1);
  border-radius: 2px;
  text-transform: capitalize;
  margin-right: 8px;
  white-space: nowrap;
}
