.container {
  background: white;
  padding: 26px 24px;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 20;
  // box-shadow: 1px 0px 0px rgba(68, 68, 68, 0.1),
  //   8px 0px 40px rgba(68, 68, 68, 0.05);

  @media (max-width: 767px) {
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    // transform: translateX(-100%);
    z-index: 1111;
  }
}

.show {
  // transform: translateX(0) !important;
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  label {
    color: #444;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
  }
}
