.container {
  background: white;
  padding: 26px 24px;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 20;
  box-shadow: 1px 0px 0px rgba(68, 68, 68, 0.1),
    8px 0px 40px rgba(68, 68, 68, 0.05);
}
