.dashboard-page {
  width: 100%;
  min-height: 800px;

  .noResults {
    display: flex;
    min-height: 250px;
    border: 1px solid grey;
    color: grey;
    justify-content: center;
    align-items: center;
  }

  .notifications {
    width: 100%;
    padding: 20px 0;

    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    h2 {
      color: red;
    }
  }

  .pending-orders-table {
    .container {
      min-height: 650px;
      overflow-x: auto;

      table {
        color: #707070;
        width: 100%;
        text-align: center;
        border-spacing: 0px;
        border: 1px solid #acacac;
        min-width: 470px;
      }

      th {
        position: sticky;
        top: 0px;
        padding: 10px;
        background-color: #f6f6f6;
        border-bottom: 1px solid #acacac;
      }

      tr:hover {
        background-color: #ddf9f3;
      }

      td {
        padding: 10px 0;
      }

      h1 {
        padding: 10px;
      }
    }

    .respondLink {
      color: white;
      background-color: #2cceac;
      border-radius: 3px;
      padding: 5px;
      text-decoration: none;

      &:hover {
        background: #009c7b;
      }
    }

    .noResults {
      margin: auto;
      width: 100%;
      padding: 50px 0;
      color: grey;
      text-align: center;
    }

    .trEven {
      background-color: #f9f7f7;
    }
  }
}
