.navigationItem {
  display: flex;
  flex-direction: column;
  padding: 18px 40px;
  flex: 0 0 25%;
  border-left: 1px solid #97979729;

  &:last-child {
    border-left: none;
  }

  @media (max-width: 768px) {
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 12px 32px;

    border-bottom: 1px solid #f8f8f8;
  }
}

.inputError {
  border-bottom: 1px solid var(--danger-color) !important;
}

.active {
  // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  // @media (min-width: 768px) {
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.1);
  // }
  @media (max-width: 768px) {
    display: none;
  }
}

.fullWidth {
  flex-grow: 1;

  @media (max-width: 768px) {
    flex-grow: initial;
    width: auto;
  }
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--font-rift);
  line-height: 24px;
}

.subtitle {
  font-size: 14px;
  line-height: 24px;
  font-family: var(--font-proxima);
  opacity: 0.5;
  font-family: var(--font-proxima);
  display: flex;
  height: 30px;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
  }

  .subtitleInner {
    svg {
      display: none;
    }

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      height: 24px;

      svg {
        display: block;
        margin-left: 1rem;
      }
    }
  }

  &.editable {
    opacity: 1;
  }
  input {
    border: none;
    border-bottom: 1px solid grey;
    margin-right: 5px;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
  }
}

.disabled {
  opacity: 0.25;
}

.disabledItem {
  @media (max-width: 768px) {
    display: none;
  }
}

.clickable {
  cursor: pointer;
}

.updateButton {
  justify-content: center !important;
  cursor: pointer;
  padding: 20px 30px !important;
  @media (max-width: 768px) {
    padding: 10px !important;
  }
}

.courseTypeSelector {
  z-index: 1;
  width: 100%;
  background-color: white;
  border: none;
  padding: 10px;
  height: fit-content;
  box-shadow: 0px 2px 8px -3px var(--grey-color);
  align-self: flex-start;
  @media (max-width: 450px) {
    width: 250px;
  }
}

.selected {
  font-weight: bold;
}

.selectCourseOption {
  background-color: white;
  padding: 3px;
  border: none;
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.closeButton {
  border: none;
  text-align: right;
}
