.wrapper {
  width: calc(100% + 40px);
  padding: 20px;
  margin: -20px;
  background-color: #f6f6f6;
  overflow: auto;
}

.header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.backLink {
  font-weight: bold;
}
