.wrap {
  display: block;
  margin-top: 15px;

  :global {
    .slick-prev::before,
    .slick-next:before {
      content: none;
    }
  }
}

.slider {
  :global(.slick-dots) {
    bottom: -27px;
    text-align: center;

    li {
      margin: 0;
      cursor: pointer;

      button {
        padding: 0;
        opacity: 1;
        &:before {
          content: '';
          background: #141414;
          height: 4px;
        }
      }
    }
  }
}

.addonImage {
  background-color: white;
  padding: 12px;
  object-fit: contain;
  cursor: pointer;
}
