@import '../../../bootstrap';

.calendarDays {
  // display: flex;
  list-style: none;
  // padding: 0;
  margin: 0;
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  flex: 1 1 auto;
  // overflow-y: auto;
  overflow: hidden;

  border-bottom: 1px solid #ccc;

  &::-webkit-scrollbar {
    display: none;
  }
  font-size: 9px;

  li {
    height: 180px;
    list-style-type: none;
    margin-bottom: 4px;

    width: calc(14.2857142857% + 1px);
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    // height: 180px;

    &:nth-child(7n) {
      width: calc(14.2857142857%);
    }
  }
}
@media (min-width: 1200px) {
  .calendarDays {
    font-size: 12px;
  }
}
