@import '../../../bootstrap';

.calendarDays {
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  flex: 1 1 auto;
  overflow: hidden;

  border-bottom: 1px solid #ccc;

  &::-webkit-scrollbar {
    display: none;
  }
  font-size: 9px;

  li {
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 4px;

    width: calc(14.2857142857% + 1px);
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;

    &:nth-child(7n) {
      width: calc(14.2857142857%);
    }
  }
}
.calendarDaysFiveRows {
  li {
    height: calc((100vh - var(--vh-offset, 0px) - 154px - 7px) / 5);
    // min-height: 129px;
  }
}
.calendarDaysSixRows {
  li {
    height: calc((100vh - var(--vh-offset, 0px) - 154px - 7px) / 6);
    // min-height: 107px;
  }
}
@media (min-width: 1200px) {
  .calendarDays {
    font-size: 12px;
  }
}
