@import '../../../bootstrap';

.calendarDays {
  width: 100%;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 9px;
  margin-left: -1px;
}

.calendarDaysFiveRows {
  > div {
    height: calc((100vh - 148px) / 5);
  }
}
.calendarDaysSixRows {
  > div {
    height: calc((100vh - 148px) / 6);
  }
}

@media (min-width: 1200px) {
  .calendarDays {
    font-size: 12px;
  }
}
