.questionAnswer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 1.125rem;
}

.answer {
  // padding: 8px;
  width: 100%;
  color: #c7c7c7;
  font-style: italic;

  a {
    text-decoration: underline;
  }
}

.title {
  width: 100%;
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 1rem;

  @media (min-width: 769px) {
    margin-top: 36px;
  }
}
