.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  background: white;
  height: 88px;

  @media (max-width: 768px) {
    height: auto;
  }
}

.backItem {
  width: 108px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid #f8f8f8;

  cursor: pointer;
}

.hiddenOnDesktop {
  display: none !important;
  @media (max-width: 768px) {
    display: flex !important;
  }
}

.hiddenOnMobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.hideIcons {
  svg {
    display: none !important;
  }
}

.navItemContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > div {
    position: relative;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }
}

.chev {
  position: absolute;
  left: 50%;
  bottom: 2px;
  margin-left: calc(-18.66px / 2);
  pointer-events: none;
}

.chevFull {
  left: auto;
  right: 1rem;
  top: 50%;
  margin-left: 0;
  margin-top: -10px;
}

.navInput,
.selectLabel {
  background-color: #fff;
  appearance: none;
  height: 65px;
  text-align: center;
  font-size: 18px;
  // font-weight: bold;
  font-weight: normal;
  border: 0;
  width: 100%;
}

.selectLabelFull {
  text-align: left;
  padding-left: 10%;
}

.selectLabel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 65px;
  pointer-events: none;
  white-space: nowrap;
}

.navInputText {
  margin-left: 5%;
  text-align: left;
  text-align-last: left;
  padding-left: 5px;
}

.submitButtonWrap {
  padding: 10px 5%;
}

.submitButton {
  width: 100%;
  background: var(--primary-color);
  font-family: var(--font-rift);
  appearance: none;
  border: 0;
  text-align: center;
  font-size: 18px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  stroke: white;
}
