.container {
  display: block;
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.1);

  .title {
    color: var(--dark-color);
  }

  &:hover {
    text-decoration: none;

    .title {
      text-decoration: none;
    }
  }
}

.image {
  position: relative;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(225deg, rgba(20, 20, 20, 0) 0%, #141414 100%);
  }

  img {
    width: 100%;
    height: 208px;
    object-fit: cover;

    @media (min-width: 1025px) {
      height: 168px;
    }
  }
}

.content {
  display: flex;
}

.title {
  flex-grow: 1;
  margin-bottom: 0;
  padding: 1.5rem;

  @media (min-width: 1025px) {
    padding: 2rem;
  }
}

.button {
  display: flex;
  flex: 0 0 72px;
  border-left: 1px solid rgba(44, 206, 172, 0.1);
  align-items: center;
  justify-content: center;

  @media (min-width: 1025px) {
    flex-basis: 94px;
  }
}

.header {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
}

.meta {
  h3 {
    margin-bottom: 0;
  }
}

.profilePic {
  margin-right: 1rem;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.intro {
  padding: 0 1.5rem 1rem;
}

.poster {
  display: block;
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.readButton {
  padding: 10px 32px;
}

.readMore {
  color: var(--primary-color);
  display: inline;
  padding: 0;
  appearance: none;
  border: 0;
  background: 0;
}
