.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  position: relative;

  li {
    list-style: none;
  }
  a {
    color: #666;
  }
}
.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}
.weekDays {
  flex: 0 0 66px;
  background: #fcfcfc;
  padding-bottom: 1rem;

  @media (min-width: 768px) {
    flex: 0 0 50px;
    background: #fff;
    padding-bottom: 0;

    position: fixed;
    top: 135px;
    // width: calc(100% - 50px);
    width: 100%;
    padding-left: 50px;
    right: 0;
    left: 0;

    z-index: 5;
  }
}
.sideBarOpen {
  @media (min-width: 1082px) {
    width: calc(100% - 317px);
  }
}
.timelineWrapper {
  position: relative;
  margin-top: 66px;
  flex: 0 0 50px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }
}
.weekviewContent {
  @media (min-width: 768px) {
    margin-top: 100px;
    position: relative;
  }

  flex: 1 1 auto;
  // overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  display: flex;
}
.mobileVisible {
  line-height: 25px;
  display: none;
}
.desktopVisible {
  display: block;
}
.timeline {
  display: block;
  flex: 0 0 50px;
  height: 100%;
  width: 50px; //100%;
  position: absolute;

  @media (min-width: 768px) {
    margin-top: 50px;
    background: #fff;
  }

  li {
    position: relative;
    height: 50px;

    &.allDayTimelineItem {
      @media (min-width: 768px) {
        position: fixed;
        top: 185px;
        width: 50px;
        background: #fff;
        z-index: 3;
      }

      span {
        top: 14px;
      }

      &::after {
        @media (max-width: 768px) {
          content: '';
          display: block;
        }
      }
    }

    &::after {
      /* this is used to create the table horizontal lines */
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      // width: 100%;
      width: 100vw;
      height: 2px;
      background: #eaeaea;
      // z-index: 2;
      z-index: 0;

      @media (max-width: 768px) {
        content: none;
        display: none;
      }
    }
    &:last-of-type::after {
      display: none;
    }
    span {
      // display: none;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: -10px;
      // z-index: 3;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 12px;
    }
  }
}

.events {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}

.topInfo {
  width: 100%;
  padding: 0 5%;
  > a,
  > button {
    display: inline-block;

    font-size: 13px;
    width: 100%;
    text-align: center;

    border: 0;
    background: transparent;
    padding: 0;
    appearance: none;

    &:focus {
      outline: 0;
    }

    @media (min-width: 769px) {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.singleEvent {
  /* force them to stay on one line */
  -ms-flex-negative: 0;
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  -webkit-transition: opacity 0.2s, background 0.2s;
  transition: opacity 0.2s, background 0.2s;
  &:last-of-type {
    margin-right: 5%;
  }
  a {
    display: block;
    height: 100%;
    padding: 0.8em;
    color: #a2b9b2;
    text-decoration: none;
  }
}

.daysContainer {
  display: flex;
  margin-bottom: 0;
}
.eventsContainer {
  display: flex;
}
.eventsContainerAllDay {
  height: 50px;
  margin-bottom: 0;
  overflow: hidden;

  @media (max-width: 768px) {
    // display: none;
  }

  .eventsGroup {
    border-top: 0;
    border-bottom: 0;
  }
}
.events {
  float: left;
  width: 100%;
}
.allDayEvents {
  @media (min-width: 768px) {
    position: fixed;
    top: 183px;
    right: 0;
    left: 50px;
    width: calc(100% - 50px);

    z-index: 99;

    background: #fff;
    border-bottom: 2px solid #eaeaea;
  }

  &.sideBarOpen {
    @media (min-width: 1082px) {
      width: calc(100% - 317px - 50px + 1px);
    }
  }
}
.weekDaysHeader {
  width: 14.2857142857%;
  float: left;
  /* reset style */
  margin-bottom: 0;
  &:not(:first-of-type) {
    border-left-width: 0;
  }
}
.bgHighlight {
  background: #f7f7f7dd;

  @media (max-width: 768px) {
    background-color: transparent;
  }
}
.todayDate {
  a {
    color: var(--primary-color);
    text-decoration: underline;
  }
}
.eventsGroup {
  width: 14.2857142857%;
  float: left;
  border: 2px solid #eaeaea;
  /* reset style */
  margin-bottom: 0;
  padding: 2px;

  padding: 0 12px 0 0;

  border-top: 0;

  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
  }

  &:not(:first-of-type) {
    border-left-width: 0;
  }
  > ul {
    // height: 1200px;
    // height: 2396px;
    height: 1200px;
    /* reset style */
    position: relative;
    /* force its children to stay on one line */
    display: block;
    overflow: visible;
    padding: 0;
    -webkit-overflow-scrolling: touch;

    &::after {
      width: 1px;
      height: 100%;
      opacity: 0;
      color: transparent;

      clear: both;
      content: '';
      display: block;
    }
    ::after {
      /* reset style */
      display: none;
    }
  }
}

.topInfo {
  /* vertically center its content */
  display: table;
  height: 50px;
  // border-bottom: 1px solid #eaeaea;
  /* reset style */
  padding: 0;

  > span {
    /* vertically center inside its parent */
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.5em;
    text-align: center;
    /* reset style */
    font-weight: normal;
    margin-bottom: 0;
  }
}

.singleEvent {
  position: absolute;
  z-index: 3;
  /* top position and height will be set using js */
  width: calc(100% + 2px);
  left: -1px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  /* reset style */
  -ms-flex-negative: 1;
  flex-shrink: 1;
  max-width: none;
  margin-right: 0;
  overflow: hidden;
  a {
    padding: 1.2em;
  }
  &:last-of-type {
    /* reset style */
    margin-right: 0;
  }
}
.selectedEvent {
  /* the .selected-event class is added when an user select the event */
  visibility: hidden;
}

.allDayEvent {
  width: calc(100% - 12px);
  height: 22px;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .events {
    /* 60px is the .timeline element width */
  }
}

.eventName,
.eventDate {
  display: block;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eventName {
  font-size: 1rem;
}

.eventDate {
  /* they are not included in the the HTML but added using JavScript */
  font-size: 1.4rem;
  opacity: 0.7;
  line-height: 1.2;
  margin-bottom: 0.2em;
}

.singleEvent[data-event='event-1'] {
  /* this is used to set a background color for the event and the modal window */
  background: #577f92;
}

@media (max-width: 768px) {
  .mobileSameDate {
    span {
      color: var(--primary-color);
    }
  }
  .weekDays {
    width: 100%;
    width: calc(100vw - 15px);
    margin-left: -50px;
  }
  .weekviewContent {
    width: 100%;
  }
  .weekDaysHeader {
    min-width: 0px;
  }
  .eventsGroup {
    min-width: 0px;
  }
  .mobileVisible {
    display: block;
  }
  .desktopVisible {
    display: none;
  }
  .topInfo {
    span {
      font-weight: bold;
    }
  }
}

.instructorIcon {
  width: 12px;
  vertical-align: -2px;
}
