.container {
  flex: 1 1 1px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: auto;
  padding-left: 56px;
}

.containerSidebar {
  @media (min-width: 768px) {
    margin-right: 0;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.weekDays {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  padding: 0;
  z-index: 5;
}

.filterOpen {
}

.weekDaysHeader {
  padding: 8px;
  border-left: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.date {
  color: var(--color-dark-light);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 12px;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: var(--color-primary);
    color: #fff;
    text-decoration: none;
  }
}

.highlight {
  background-color: var(--color-primary);
  color: #fff;
}

.timelineWrapper {
  position: relative;
  margin-top: 72px;
  flex: 0 0 56px;
}

.weekviewContent {
  position: relative;
  flex: 1 1 auto;
  display: flex;
}

.mobileVisible {
  line-height: 1.25rem;
  display: none;
}

.desktopVisible {
  display: block;
}

.timeline {
  display: block;
  height: 100%;
  position: absolute;
  left: -56px;
  right: 0;
  top: 0;

  > div {
    position: absolute;
    height: 56px;
    width: 100%;

    &::after {
      /* this is used to create the table horizontal lines */
      content: '';
      position: absolute;
      bottom: 0;
      left: 56px;
      right: 0;
      height: 1px;
      background: var(--color-border);
      // z-index: 2;
      z-index: 0;

      @media (max-width: 768px) {
        content: none;
        display: none;
      }
    }

    &:last-of-type::after {
      display: none;
    }

    span {
      position: absolute;
      left: 0;
      font-size: 9px;
      line-height: 11px;
      width: 56px;
      text-align: center;
      color: var(--color-dark-light);
    }
  }
}

.events {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}

.headerItem {
}

.singleEvent {
  /* force them to stay on one line */
  -ms-flex-negative: 0;
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  -webkit-transition: opacity 0.2s, background 0.2s;
  transition: opacity 0.2s, background 0.2s;
  &:last-of-type {
    margin-right: 5%;
  }

  a {
    display: block;
    height: 100%;
    padding: 0.8em;
    color: #a2b9b2;
    text-decoration: none;
  }
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.eventsContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.daysSingle {
  grid-template-columns: 1fr;
}

.eventsContainerAllDay {
  height: 50px;
  margin-bottom: 0;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 22px;
  }

  .eventsGroup {
    border-top: 0;
    border-bottom: 0;
  }
}

.events {
  width: 100%;
}

.allDayEvents {
  position: fixed;
  top: 129px;
  right: 0;
  left: 50px;
  width: calc(100% - 50px - 5px);

  z-index: 99;

  background: #fff;
  border-bottom: 1px solid #070707;

  @media (min-width: 768px) {
    top: 183px;
    border-bottom: 2px solid #eaeaea;
  }

  &.sideBarOpen {
    @media (min-width: 993px) {
      width: calc(100% - 341px - 50px + 1px);
    }
  }
}

.bgHighlight {
  background: #f5f5f5;

  @media (max-width: 768px) {
    background-color: transparent;
  }
}

.eventsGroup {
  cursor: pointer;
  border-left: 1px solid var(--color-border);

  @media (max-width: 768px) {
    width: 100%;
  }

  > div {
    /* reset style */
    position: relative;
    /* force its children to stay on one line */
    display: block;
    overflow: visible;
    padding: 0;
    -webkit-overflow-scrolling: touch;

    &::after {
      width: 1px;
      height: 100%;
      opacity: 0;
      color: transparent;

      clear: both;
      content: '';
      display: block;
    }

    ::after {
      /* reset style */
      display: none;
    }
  }
}

.topInfo {
  /* vertically center its content */
  display: table;
  height: 50px;
  // border-bottom: 1px solid #eaeaea;
  /* reset style */
  padding: 0;

  @media (max-width: 768px) {
    height: auto;
  }

  > span {
    /* vertically center inside its parent */
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.5em;
    text-align: center;
    /* reset style */
    font-weight: normal;
    margin-bottom: 0;
  }
}

.singleEvent {
  position: absolute;
  z-index: 3;
  /* top position and height will be set using js */
  width: calc(100% + 2px);
  left: -1px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  /* reset style */
  -ms-flex-negative: 1;
  flex-shrink: 1;
  max-width: none;
  margin-right: 0;
  overflow: hidden;
  a {
    padding: 1.2em;
  }

  &:last-of-type {
    /* reset style */
    margin-right: 0;
  }
}

.selectedEvent {
  /* the .selected-event class is added when an user select the event */
  visibility: hidden;
}

.allDayEvent {
  width: calc(100% - 12px);
  height: 22px;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .events {
    /* 60px is the .timeline element width */
  }
}

.eventName,
.eventDate {
  display: block;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eventName {
  font-size: 1rem;
}

.eventDate {
  /* they are not included in the the HTML but added using JavScript */
  font-size: 1.4rem;
  opacity: 0.7;
  line-height: 1.2;
  margin-bottom: 0.2em;
}

.singleEvent[data-event='event-1'] {
  /* this is used to set a background color for the event and the modal window */
  background: #577f92;
}

@media (max-width: 768px) {
  .mobileSameDate {
    span {
      color: var(--primary-color);
    }
  }

  .weekDays {
    width: auto;
    position: fixed;
    top: 86px;
    right: 0;
    left: 0;
    z-index: 4;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #707070;
  }

  .weekviewContent {
    width: 100%;
  }

  .weekDaysHeader {
    min-width: 0px;
  }

  .eventsGroup {
    min-width: 0px;
  }

  .mobileVisible {
    display: block;
  }

  .desktopVisible {
    display: none;
  }

  .topInfo {
    span {
      font-weight: bold;
    }
  }
}

.instructorIcon {
  width: 12px;
  vertical-align: -2px;
}

.weekDayGroup {
  display: flex !important;
  height: 756px;
  min-height: calc(100vh - 147px);
  pointer-events: none;
}
