.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex: 1 1 auto;
}

.calendarWrapper {
  overflow: hidden;
  display: flex;
  // margin-right: -17px;
}
.overview {
  flex: 0 0 60px;
}

.calendarTypeInactive {
  color: grey;
}
.calendarTypeActive {
  color: #2cceac;
  cursor: pointer;
}

.full {
  color: #fa0e0e !important;
}
.oneSpace {
  color: #fa840e !important;
}

/* ============================
              Mobile Responsiveness
 ============================*/

@media (max-width: 768px) {
  .container {
    // .weekdays, .other-month {
    //   display: none;
    // }

    li {
      height: auto !important;
      border: 1px solid #ededed;
      width: 100%;
      padding: 10px;
      margin-bottom: -1px;
    }

    // .date {
    //   float: none;
    // }
  }
}
