.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex: 1 1 auto;
}

.calendarWrapper {
  overflow: hidden;
  display: flex;
  // margin-right: -17px;
}
.overview {
  flex: 0 0 60px;
}

.calendarTypeInactive {
  color: grey;
}
.calendarTypeActive {
  color: #2cceac;
  cursor: pointer;
}

.full {
  color: #fa0e0e !important;
}
.oneSpace {
  color: #fa840e !important;
}

.rightButtons {
  display: flex;
  flex-direction: column;
  text-align: right;
  select {
    align-self: flex-end;
    margin-bottom: 8px;
  }
}

/* ============================
              Mobile Responsiveness
 ============================*/
