.container {
  display: flex;
  margin-right: 15px;
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.select {
  width: 160px;
  height: 38px;
  min-width: 0;
  padding-right: 1rem;
  padding-left: 0.5rem;
  color: #707070;
  border-radius: 0;
  border: 1px solid #e4e4e4;

  &:last-child {
    width: 85px;
    margin-left: 15px;
  }
}
