.container {
  background-color: #deeff5;
}

.title {
  font-size: 24px;
  line-height: 29px;
  font-family: var(--font-rift-bold);
  font-weight: normal;

  margin-top: 1rem;
  margin-bottom: -1rem;

  color: var(--primary-color);

  text-align: center;

  z-index: 1;
  position: relative;

  @media (max-width: 768px) {
    padding: 0 1rem;
    text-align: left;
  }
}

.buttons {
  position: relative;
  display: block;
  justify-content: center;
  background: white;
  padding: 1rem 0;
  margin-top: -0.5rem;
  text-align: center;

  @media (max-width: 768px) {
    padding: 1rem 0;
    margin-top: 1rem;
  }

  button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }

  .NoThanksButton {
    margin-left: auto;
    margin-right: auto;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 300;
    color: black !important;
  }
}
