.container {
  padding: 2rem 0;
}

.ring {
  margin-bottom: 1rem;
  width: 24px;
  height: 24px;
  border: 3px solid var(--dashboard-green);
  border-radius: 50%;
}

.title {
  span {
    color: var(--dashboard-green);
  }
}

.subtitle {
  margin: 1.5rem 0 1rem;
}

.subtitleFaq {
  margin-bottom: 0.25rem;
}

.cta {
  margin-top: 1rem;
}

.icon {
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: center;
}

.input {
  margin-top: 24px;
  background-clip: padding-box;
  appearance: none;
  border: 1px solid #141414 !important;
  margin-bottom: 0.5rem;
}

.dashboardCheck {
  margin-top: 2rem;
  font-size: 15px;

  label {
    padding-left: 2.25rem;

    &:before {
      border-width: 2px;
    }
  }
}
