:global(:root) {
  --primary-color: #2cceac;
  --secondary-color: #2c4fd3;
  --info-color: #5bb5cb;

  --light-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-color: #434343;
  --grey-color: #707070;
  --danger-color: #fa0e0e;
  --warning-color: #fa840e;
  --highlight-color: #ddf9f3;
  --light-grey-color: #e4e4e4;
}

.bookingOptions {
  padding: 24px;
  background: white;
  min-width: 360px;
  max-width: 360px;
  width: 360px;
  min-height: 820px;
}

.bookingOptions hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cacccd;
  padding: 0;

  margin-top: 16px;
  margin-bottom: 16px;
}

.totalPrice {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .bookingOptions {
    max-width: 325px;
    min-width: auto;
    width: 325px;
  }
}

.WidgetBtnDisabled {
  opacity: 0.35;
  cursor: default;
  background: darkgrey !important;
}

.hasBackButton {
  display: flex;
}

.backButton {
  color: white !important;
  font-size: 18px;
  background: #ffd700 !important;
  width: 100%;
  padding: 16px !important;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
