.paymentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;

  margin-bottom: 32px;
}

.paymentDetails {
  color: #707070;
  max-width: 420px;
  padding-top: 16px;
}

.heading {
  text-align: center;
  margin: 0;
}

.orderDetails {
  margin-left: 32px;
}

@media (max-width: 768px) {
  .orderDetails {
    display: none;
  }

  .paymentDetails {
    max-width: auto;
  }
}
