.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 6px 12px;
  isolation: isolate;
  background-color: black;
  z-index: 10 !important;

  &:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    .triangleTopLeft {
      border-top: 7px solid var(--primary-color);
    }
  }

  .triangleTopLeft {
    width: 0;
    height: 0;
    border-top: 7px solid black;
    border-right: 7px solid transparent;

    left: 0px;
    top: 36px;

    position: absolute;
    &:hover {
      fill: var(--primary-color);
    }
  }

  img {
    margin-right: 6px;
  }
}

.pinPrice {
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-proxima);
  text-align: center;
  pointer-events: none;
  // padding: 0 12px 12px;
  &:hover {
    fill: var(--primary-color);
  }
}
