.container {
  display: flex;
}

.leftPanel {
  flex: 1 1 480px;
  display: flex;
  justify-content: center;
  padding: 80px 3px 40px 30px;
}

.rightPanel {
  flex: 0 1 528px;
  padding: 80px 80px 40px 80px;
  background: white;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .leftPanel {
    flex: 1 1 auto;
  }

  .rightPanel {
    flex: 1 1 auto;
  }

  .leftPanel,
  .rightPanel {
    padding: 40px 30px;
  }
}
