.container {
  display: flex;
  background-color: #fff;

  @media (min-width: 769px) {
    justify-content: center;
    background-color: rgba(#c2c2c2, 0.1);
    padding: 3rem 2.5rem;
    align-items: flex-start;
  }
}

.header {
  padding-top: 2rem;

  h1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 29px;
    font-family: var(--font-rift);
    font-weight: bold;
    text-align: center;
  }
}

.leftPanel {
  flex: 0 1 632px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 2.5rem;
  margin-right: 2.5rem;
}

.rightPanel {
  flex: 0 1 440px;
  background: white;
  padding: 2rem 2.5rem;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .leftPanel {
    flex: 1 1 auto;
    margin-right: 0;
  }

  .rightPanel {
    flex: 1 1 auto;
  }

  .leftPanel,
  .rightPanel {
    // padding: 25px 10px;
    padding: 2rem;
  }

  .leftPanel {
    padding-bottom: 0;
  }

  .rightPanel {
    // padding: 25px 5px;
    background: transparent;
    padding-top: 0;
  }
}

.toastAdd,
.toastError {
  font-family: var(--font-proxima) !important;
  font-weight: bold !important;
  color: #fff !important;
}

.toastAdd {
  background: var(--primary-color) !important;
}

.toastError {
  background: var(--danger-color) !important;
}

.modalContent {
  > div {
    border-radius: 0;
    border: 0;
  }
}
