.container {
  display: flex;
}

.header {
  padding-top: 2rem;

  h1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 29px;
    font-family: var(--font-rift);
    font-weight: bold;
    text-align: center;
  }
}

.leftPanel {
  flex: 1 1 480px;
  display: flex;
  justify-content: center;
  padding: 80px 3px 40px 30px;
}

.rightPanel {
  flex: 0 1 528px;
  padding: 80px 80px 40px 80px;
  background: white;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .leftPanel {
    flex: 1 1 auto;
  }

  .rightPanel {
    flex: 1 1 auto;
  }

  .leftPanel,
  .rightPanel {
    padding: 30px 30px;
  }
}

@media (min-width: 769px) {
  .rightPanel {
    margin-top: -69px;
    padding-top: 149px;
  }
}
