.box {
  width: 99px;
  height: 68px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 10px;
  gap: 4px;
  border: 1px;

  background: #deedf2;
  &:hover,
  &:active {
    border: 1px solid #141414;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.date {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #141414;
}

.time {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #141414;
}

.price {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #141414;
}

.moreDatesBox {
  width: 98px;
  height: 68px;
  display: flex !important;
  flex-direction: column;
  padding: 6px 12px;
  border: 0;

  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #141414;

  text-align: center;

  background: #deedf2;
  &:hover,
  &:active {
    border: 1px solid #141414;
  }
  &:active,
  &:focus {
    outline: none;
  }

  p {
    margin: 0;
  }
}
