.dashboardOrders {
  h4 {
    font-family: var(--font-rift);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
}

.order {
  margin-bottom: 32px;
  cursor: pointer;

  .title {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--font-rift);
  }
  .training {
    margin-left: 10px;
    margin-top: 10px;
  }

  .subTitle {
    font-size: 18px;
    font-family: var(--font-proxima-bold);
  }

  .review {
    padding: 8px;
    width: 140px;
  }
}
