.container {
  width: 100%;
  max-width: calc(1112px + 2rem);
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
  font-size: 15px;
  line-height: 24px;
  font-family: var(--font-proxima);
  color: #141414;
}
