.coursesPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-color);
  border-bottom: solid 1px var(--light-grey-color);
  font-size: 15px;
  font-weight: bold;

  margin-bottom: 16px;
}

.courses {
  border-bottom: solid 1px var(--light-grey-color);
}

.scrollContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollContent {
  overflow-y: scroll;
  margin-right: -15px;
}
