.coursesPanel {
  display: block;
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 24px;
}

.title {
  color: #444;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.scrollContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollContent {
  overflow-y: scroll;
  margin-right: -15px;
}

.addButton {
  border: 1px dashed var(--color-primary);
  border-radius: 2px;
  color: var(--color-primary);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  padding: 12px;
  transition: all ease 0.3s;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    background: var(--color-primary);
    color: white;
    text-decoration: none;
  }
}
