.bikeSummary {
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  padding: 12px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 18px;
}

.button {
  display: block;
  height: 42px;
  margin-top: 1rem;
  font-size: 18px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;

  color: #141414;
  border: 1px solid #707070;

  &,
  &:hover {
    color: #141414;
    text-decoration: none;
  }
}

.buttonPrimary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &,
  &:hover {
    color: #fff;
  }

  // &:hover {
  //   background-color: #1f8f77;
  // }
}
