@import '../../../bootstrap';

$warning: #fed697;
$danger: #fe9898;

.calendarDayCellItem {
  color: $grey;
  // border: solid 1px var(--dark-color);
  margin-top: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 30px;
  padding-left: 4px;
  background-color: #f3f3f3;
  font-weight: bold;
  font-size: 14px;
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
}

@media (max-width: 768px) {
  .calendarDayCellItem {
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--dark-color);
    margin-right: 4px;
    // border: transparent;
  }

  .warning {
    background: $warning;
  }

  .danger {
    background: $danger;
  }

  .courseContainer {
    flex-direction: column;
  }
}
