@import '../../../bootstrap';

.calendarDayCellItem {
  color: $grey;
  border: solid 1px var(--dark-color);
  margin-top: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 28px;
  padding-left: 4px;
}

.warning {
  border: solid 1px $warning;
}

.danger {
  border: solid 1px $danger;
}

@media (max-width: 768px) {
  .calendarDayCellItem {
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--dark-color);
    margin-right: 4px;
    // border: transparent;
  }

  .warning {
    background: $warning;
  }

  .danger {
    background: $danger;
  }

  .courseContainer {
    flex-direction: column;
  }
}
