
.addonGroupSection {
  display: block !important;
  ul {
     list-style-type: none;
     padding-inline-start: 10px;
    
     li {
      
     }
  }
 

  .titleContainer{
    .groupTitle {
      font-family: var(--font-rift-bold);
      font-style: normal;
      font-size: 1.5rem;
      line-height: 1.5rem;  
      margin-bottom: 1.5rem;
      margin-top: 0.4rem;
      }
  }
  
  .addonItemContainer  {
    border: 1px solid black;
    display: block;
  }
}





