.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 0 0 50px;
  background: white;
  z-index: 10;
}

.logoImage {
  height: 70px;
  padding: 16px;
  fill: #2cceac;
}
.darkLogo {
  fill: white;
}

.header {
  margin-left: 20px;
  width: 100%;
}

.dark {
  background-color: black;
}
