.container {
  @media (max-width: 768px) {
    display: none;
  }
}

.title {
  margin: 1.25rem 0 0.5rem;
  font-family: var(--font-rift-bold);
  font-size: 30px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}
