.calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 1px;
}

.calendarColumn {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    padding-right: 0;
    height: auto;
  }
}

.schoolWrapper {
  flex: 0 0 50px;
}

@media (min-width: 992px) {
  .content {
    height: 100%;
  }
}

.noCalendarPath {
  @media (max-width: 767px) {
    display: none;
  }
}
