.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #c2c2c220;
}

.contentWrapper {
  margin-top: 120px;
  padding: 0px 30px;
  display: flex;
  // width: auto !important;
  // justify-content: center;
}

.mainContent {
  max-width: 1112px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.mapPanel {
  flex: 0 0 448px;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.coursesPanel {
  flex: 1 1 auto;
}

.buttonsWrapper {
  text-align: right;
  margin-bottom: 32px;
}

.sortButton {
  background-color: #14141410 !important;
  height: 48px;
  // width: 184px;
  color: var(--dark-color) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: var(--font-rift);
  font-weight: 500 !important;
  border: none !important;

  @media (max-width: 768px) {
    width: 100%;
    display: flex !important;
    padding: 0px 24px !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
}

.mapWrapper {
  background: lightgray;
  flex: 1 1 auto;
  margin-left: 20px;
}

.subTitle {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--font-rift);
  line-height: 29px;
  margin-bottom: 50px;
}

.dateSelector {
  margin-top: 56px;
  @media (max-width: 768px) {
    display: none !important;
  }
}

.mobileButtons {
  display: none;
  @media (max-width: 768px) {
    width: 100%;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
  }
}

.dateSelectorMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #14141410;
}

.noPadding {
  padding: 0 !important;
}

.action {
  width: inherit;
  img {
    margin-left: 16px;
  }
}
