
.sliderWrapper {
  // display: block;
}

.slider { 
  :global(.slick-list) {
  }

  :global {
    .slick-track {
        display: flex;
        float: left;
        .slick-slide {
          margin-right: 15px;
          padding-bottom: 0.5em;
        }
    }
  }
}

.dot {
  height: 4px;
  width: 76px;
  background: #e1e1e1;
  position: relative;
  margin-top: 1.5rem;
  cursor: pointer;
  @media (max-width: 400px) {
    width: 25px;
  }
  &:active {
    background: #141414;
  }
}

.dots {
}

.dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 76px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 25px;
  }
  button {
    border: 0;
    background: transparent;
    display: block;
    width: 76px;
    &:focus {
      outline: none;
    }
    @media (max-width: 400px) {
      width: 25px;
    }
  }

  &:global(.slick-active) {
    .dot {
      opacity: 1;
      background: #141414;
      width: 76px;

      @media (max-width: 400px) {
        width: 25px;
      }
    }
  }
}

.card {
  width: 244px;
  overflow: visible;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  @media (min-width: 992px) {
    width: 320px;
    height: 558px;
  }

  &__image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    cursor: pointer;
  }

  &__priceWrapper {
    text-align: center;
  }

  &__discountedPrice {
    font-family: var(--font-rift);
    text-align: center;
    color: #2cceac;
    letter-spacing: 0.01em;
    text-decoration-line: line-through;
    line-height: 29px;
    font-size: 22px;
  }

  &__price {
    text-align: center;
    line-height: 16px;
    font-size: 22px;
    margin-top: 16px;
    padding-top: 0;
    padding-bottom: 8px;
    color: #6fc274;
    font-family: var(--font-rift-bold);
  }

  &__freeDelivery {
    font-size: 13px;
    font-family: var(--font-proxima);
    text-align: center;
    color: #141414;
    flex-grow: 0;
    margin-bottom: 0.5em;
  }
  &__title {
    font-family: var(--font-rift-bold);
    padding: 0;
    align-self: stretch;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    color: #000000;
  }

  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.75rem;
  }

  &__star {
  }

  &__selectSizeButton > * {
    margin-bottom: 8px;
  }

  .buttonWrapper {
    display: block;
    border: 2px solid red;
    margin-bottom: 0;
  }
}

.selectButton {
  background-color: #2cceac;
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  align-items: center;
  color: white !important;
}

// .slide {
//   position: relative;
//   display: flex;
//   height: 29.375rem;
//   background: rgba(#000000, 0.1);
//   align-items: center;
//   text-align: center;
//   flex-direction: column;
//   justify-content: space-between;
//   margin-left: 1rem;

//   img {
//     // max-width: 120px;
//     // max-height: 120px;
//     // max-width: calc(100% - 1rem);
//     // max-height: 195px;
//     width: 208px;
//     height: 208px;
//     top: 0px;
//     object-fit: contain;
//     cursor: pointer;

//     @media (min-width: 1025px) {
//       max-height: 139px;
//     }
//   }

//   @media (min-width: 1025px) {
//     height: 256px;
//     margin-right: 4px;
//     margin-left: 4px;
//   }

//   .title {
//     position: absolute;
//     bottom: 2rem;
//     font-size: 1.375rem;
//     margin: 0;
//     color: var(--dark-color);
//     text-align: center;
//   }
// }

// .freeDelivery {
//   margin-bottom: 1rem;
//   font-size: 0.875rem;
// }

// .priceWrap {
//   padding-top: 1rem;
//   border-top: 1px solid var(--light-grey-color);
//   justify-content: space-between;
//   display: flex;

// }

// .priceDiscounted {
//   @extend .card__price;
//   text-decoration-line: line-through;
// }
