.container {
  height: 40px;
  flex: 0 0 40px;
  // background: #2cceac;
  li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    // border: none !important;
    padding: 10px 6px;
    // color: #fff;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
