.modal {
  border-radius: 0 !important;
  width: 100%;
}

.modalContent {
  padding: 24px;
  border-radius: 0 !important;
  max-height: 80vh;
}

.modalDialog {
  margin: 0 !important;
  padding: 0;
  max-width: 100%;

  position: fixed !important;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;
}
.modalWrapper {
}

.modalBackDrop {
}

.modalHeader {
  padding: 0 !important;
  border-bottom: none !important;

  font-family: var(--font-rift);

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;

  padding: 0;
  border-bottom: none;

  h5 {
    border-bottom: none;
    font-family: var(--font-rift);

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }
}

.buttonClose {
  background-color: transparent;
  border: none;
  z-index: 1000;
  padding: 0;
  outline: none;
  img {
    width: 19px;
    height: 19px;
  }
}

.tile {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 13px;

  width: 45px;
  height: 40px;
  background: #e2e8f0;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  outline: none;
  color: #141414;

  abbr,
  button {
    font-family: var(--font-inter) !important;
    font-weight: 600;
    font-size: 13px;
  }

  &--active {
    color: white;
    background: #141414;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    outline: none;
    color: white;
    background: #141414;
    &:disabled {
      color: black;
      opacity: 0.3;
    }
  }

  &:disabled {
    color: black;
    opacity: 0.3;
    background: white;
    text-decoration: line-through;

    &:hover {
      color: black;
      opacity: 0.3;
      outline: none;
    }
  }
}

.modalBody {
  display: flex;
  flex-direction: column;

  padding: 0 !important;
  overflow-y: scroll;
  padding-right: 15px;
}

.calendar {
  margin-top: 32px;
  margin-bottom: 20px;

  :global {
    .react-calendar {
      &__month-view {
        &__weekdays {
          &__weekday {
            font-family: var(--font-rift);
          }
        }
      }
      &__navigation {
        // padding-right: 15px;
        margin-bottom: 57px;

        &__label {
          background-color: white;
          position: absolute;
          left: 0;
          border: none;

          padding: 0;
          text-align: center;
          text-decoration: none;
          pointer-events: none;

          font-family: var(--font-rift);
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */

          letter-spacing: 1px;

          color: #141414;

          &:hover {
            pointer-events: none;
          }
        }

        &__prev-button,
        &__next-button {
          position: absolute;
          font-size: 25px;
          font-weight: 200;
          line-height: 2px;

          width: 30px;
          height: 30px;

          line-height: 1px;

          background: rgba(51, 51, 51, 0.1);
          padding: 0;
          color: #333333;
          border: 0;
          border-radius: 100px;

          &:focus {
            outline: none;
          }
        }

        &__prev-button {
          right: 40px;
        }

        &__next-button {
          right: 1px;
        }
      }

      &__viewContainer {
        height: 250px;
      }

      &__month-view {
        &__weekdays {
          margin-bottom: 12px;

          &__weekday {
            text-align: center;

            abbr[title],
            abbr[data-original-title] {
              text-decoration: none;
            }
          }
        }
      }

      &__tile {
        &--active {
          color: white;
          background: #141414;
        }
      }
    }
  }
}

.searchButton {
  margin-top: 32px;
  width: 100%;
  justify-content: center;
}
