/*
We set the element we are applying our loading mask to relative
*/
.loadingMask {
  position: relative;
  min-height: 50px;
}

.loading {
  width: 100%;
}

/*
Because we set .loadingMask relative, we can span our ::before
element over the whole parent element
*/
.loadingMask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  // background-color: rgba(255, 255, 255, 0.9);
  background-color: #f8f8f8;
  opacity: 0.5;
}

/*
Spin animation for .loadingMask::after
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
The loading throbber is a single spinning element with three
visible borders and a border-radius of 50%.
Instead of a border we could also use a font-icon or any
image using the content attribute.
*/
.loadingMask::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(44, 206, 172);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  animation: spin 2s infinite linear;
  z-index: 11;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}

.top.loadingMask::after {
  top: 50px;
}

.center.loadingMask::after {
  top: calc(50% - 25px);
}

.bottom.loadingMask::after {
  top: auto;
  bottom: 50px;
}

.cover.loadingMask {
  min-height: 100vh;
}

.cover.top.loadingMask::after {
  top: 185px;
}
