.container {
  margin-bottom: 2rem;

  table {
    color: #707070;
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    // border: 1px solid #acacac;

    th {
      position: sticky;
      top: 0px;
      padding: 6px;
      border-top: 0;
      border-bottom: 1px solid #e4e4e4 !important;
      font-size: 1.125rem;
      font-weight: bold;
    }
  }

  .asc::after {
    content: '⬇';
  }

  .desc::after {
    content: '⬆';
  }

  tr:hover {
    background-color: transparent;
  }

  tbody {
    border: 1px solid #e4e4e4;
  }

  td {
    font-size: 18px;
    padding: 0.85rem !important;
    border-top: 0;
    border-bottom: 1px solid #e4e4e4;
  }

  h1 {
    padding: 10px;
  }
}

.viewLink {
  color: white;
  background-color: #434343;
  padding: 5px;
  text-decoration: none;

  &:hover {
    background: white;
    color: #434343;
    text-decoration: none;
  }
}

.noResults {
  margin: auto;
  width: 100%;
  padding: 50px 0;
  color: grey;
  text-align: center;
}

.trEven {
  // background-color: #f9f7f7;
}

.isExpiring {
  color: #e01616;
}

.hideNotification {
  appearance: none;
  border: 0;
  background-color: transparent;
  display: inline;
  line-height: 17px;
  vertical-align: -5px;
  font-size: 2rem;
  color: #c7c7c7;
  cursor: pointer;

  &:hover {
    color: darken(#c7c7c7, 15%);
  }
}
