.overlay {
  position: fixed;
  top: 90px;
  right: 15px;
  width: 176px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(20, 20, 20, 0.1);
  z-index: 2;
  text-transform: none;
  text-decoration: none;
  padding: 20px 25px;
  font-family: var(--font-stack);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #2c2c2c;
    &:hover {
      text-decoration: none;
    }
  }

  .navLinks {
    a {
      padding-bottom: 10px;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileUserLinks {
  a {
    color: white;
    display: block;
  }
}

.hiddenOnMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.hiddenOnDesktop {
  @media (min-width: 769px) {
    display: none;
  }
}

.divider {
  margin: 10px 0;
  height: 1px;
  width: 128px;
  opacity: 0.1;
  background-color: #141414;

  @media (max-width: 768px) {
    width: 248px;
    background-color: white;
    height: 2px;
    margin: 30px 0;
  }
}

.logoutLink {
  color: #898989 !important;
  &:hover {
    color: black;
  }
  @media (max-width: 768px) {
    &:hover {
      color: white;
    }
  }
}
