.orderFilters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filters {
  margin-right: 16px;
  min-width: 300px;
}

.filter {
  appearance: none;
  padding-top: 0;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 8px;
  background-color: transparent;
  border: 0;
  border-right: solid 1px black;
  cursor: pointer;
}

.filter:first-child {
  padding-left: 0;
}

.filter:last-child {
  padding-right: 0;
  border-right: none;
}

.active {
  font-weight: bold;
}
