.container {
  display: flex;
  min-height: 200px;
  background: white;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    // height: 370px;
  }
}

.callUs,
.pom {
  @media (max-width: 768px) {
    height: 200px;
  }
}

.pom {
  margin-top: 50px;
}

.photo {
  width: 136px;
  position: relative;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 100%;
    height: 125px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 30px;
  @media (max-width: 768px) {
    padding: 20px 24px 10px;
  }
  @media (min-width: 769px) {
    max-width: 345px;
  }
}

.upperSection {
  display: flex;
  flex-direction: column;
}

.courseName {
  appearance: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-rift);
  line-height: 24px;
  border: 0;
  background-color: transparent;
  text-align: left;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
}

.place {
  font-size: 14px;
  font-family: var(--font-proxima);
  line-height: 16px;
  margin-top: 9.5px;
  max-width: 325px;
  

  &:hover {
    cursor: pointer;
  }
}

.nextDateContainer {
  display: flex;
  justify-content: space-between;

  .nextDateDiv {
    margin-left: 0;
  }

  .nextDateAvailable {
    border: 0;
    align-content: center;
    display: inline;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-rift);
    line-height: 24px;
    background-color: #DAEEF3;
    padding: .1em .5em;
    white-space: nowrap;
    top: -3px;
    position: relative;
    margin: 0;
    &:hover {
      cursor: pointer;
    }
    span {
        display: none;
      }
    @media (min-width: 580px) {
      display: inline-block;
      font-size: 15px;
      padding: .2em 1em;
      span {
        display:contents;
      }
    }
  
  }
}



.footer {
  display: flex;
  padding: 0 10px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    justify-content: space-between;

    flex-direction: row-reverse;
    justify-content: flex-start;
    justify-content: flex-end;
    margin: 0 0 0 10px,
  }

  @media (min-width: 769px) {
    margin-left: auto;
  }
}

.price {
  margin: 0 0 12px;
  font-family: var(--font-proxima);
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 11px 25px;
    border: 1px solid var(--primary-color);
    margin: 0px 10px;
  }
}

.cta {
  // flex: 0 0 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 48px;
  font-family: var(--font-rift);
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 1px 0 0 0 rgba(44, 206, 172, 0.1);
  cursor: pointer;
  color: white;
  stroke: white;
  background: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;

  div {
    color: white;
  }

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
  }
}

.ctaDateUnavailable {
  background: var(--grey-color);
  stroke: white;
  color: white;
}

.arrowIcon {
  margin-top: 0px;
  margin-left: 16px;
}

.extraInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-family: var(--font-proxima);
  line-height: 24px;
  > * {
    display: flex;
    flex-wrap: nowrap;
  }
}

.detailIcon {
  margin-left: 14px;
  margin-right: 6px;
  stroke: var(--dark-color);
  fill: var(--dark-color);

  @media (max-width: 768px) {
    display: none;
  }
}

.detail {
  text-decoration: underline;
  cursor: pointer;
}

.detailsLink {
  @media (max-width: 768px) {
    display: none;
  }
}

.mileIcon {
  margin-right: 6px;
  stroke: var(--dark-color);
  fill: var(--dark-color);
}

.starComponent {
  margin-left: 14px;
  margin-right: 6px;
  cursor: pointer;
}

.icons {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;

  div {
    margin-top: 12px;
    margin-right: 16px;
  }

  @media (max-width: 575px) {
    > div {
      margin-right: 12px;

      img {
        width: 20px;
      }
    }
  }
}

.tooltip {
  text-align: left !important;
  display: flex;
  // justify-content: flex-start;
  // align-items: flex-start;
  flex-direction: column;
  padding: 20px 20px 20px 25px !important;
  border-radius: 0 !important;
}

.tooltipTitle {
  font-family: var(--font-rift);
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  // padding: 20px 20px 0px 20px @!;
}

.tooltipInfo {
  font-family: var(--font-proxima);
  font-size: 12px;
  line-height: 16px;
  opacity: 0.75;
  margin-top: 10px;
  // padding: 0px 20px 20px 20px;
}

.mapPinHighlight {
  fill: var(--primary-color) !important;
}

.markerTop {
  z-index: 100;
}
