.checkoutForm {
  color: #707070;
}

.paymentFields {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 16px;
  background: white;
}

.terms {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.total {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 16px;
  background: white;
  display: flex;
  justify-content: space-between;
}
