.container {
  position: relative;
  width: 180px;
  margin: -9px;
}

.text {
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  position: absolute;
  font-family: var(--font-rift-bold);
  font-weight: normal;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 3.75rem;
  line-height: 1;
}

.complete {
  font-size: 1.5rem;
  line-height: 1;
}
