.dashboardChecklist {
  h4 {
    font-family: var(--font-rift);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
}

.checkbox {
  text-align: left;
  line-height: 1;
  margin-bottom: 24px;
  font-family: var(--font-proxima);
  font-size: 15px;

  label {
    color: var(--dark-color);
    font-size: 15px;
  }
}

.checked {
  .checkbox {
    label {
      text-decoration: line-through;

      &:before {
        background-color: var(--dark-color);
      }
      &:after {
        border-color: white;
      }
    }
  }
}

.checkLinks {
  color: var(--dark-color);
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
}
