.container {
  position: relative;
  background-color: #deeff5;
  margin: 4rem -2.5rem 2rem;
  padding: 1rem 2.5rem 2rem;

  @media (max-width: 768px) {
    margin: 2.5rem -2rem 2rem;
    padding: 0 2rem 1.5rem;
  }
}

.pomShield {
  height: 64px;
  margin-top: -30px;
  margin-bottom: -5px;

  @media (min-width: 769px) {
    float: right;
    margin-top: -40px;
  }
}

.containerPopup.containerPopup {
  position: relative;
  margin: 0;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }

  .pomShield {
    display: block;
    float: none;
    margin: 0;
    position: absolute;
    top: 35px;
    right: 2.5rem;

    @media (max-width: 768px) {
      display: none;
      right: 2rem;
    }
  }
}

.tailored {
  position: relative;
  display: flex;
  width: 192px;
  height: 35px;
  background-color: #59b1ce;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;

  @media (max-width: 768px) {
    margin-left: -30px;
  }
}

.header {
  display: flex;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: -5px;
  align-items: center;
  justify-content: space-between;

  font-size: 24px;
  line-height: 29px;
  font-family: var(--font-rift-bold);
  font-weight: normal;

  margin-bottom: 1.5rem;
}

.price {
  color: rgba(#141414, 0.5);
  font-size: 15px;
  line-height: 16px;
  margin-top: 1.2rem;
  display: block;
  margin-bottom: 0.25rem;
}

.priceBold {
  font-family: var(--font-proxima-bold);
  color: #141414;
}

.tAndC {
  font-size: 12px;
  line-height: 16px;
  margin-top: 1rem;
}

.headerSwitch {
  appearance: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: 52px;
  height: 26px;
  border-radius: 13px;
  background-color: #bdc8ca;
  border: 2px solid #bdc8ca;
  cursor: pointer;
  flex-shrink: 0;
  flex: 0 0 52px;

  &:hover {
    background-color: darken(#bdc8ca, 5%);
    border: 2px solid darken(#bdc8ca, 5%);
  }
}

.headerSwitchSlider {
  position: relative;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.1s ease-out;
}

.headerSwitchSelected {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);

  &:hover {
    background-color: darken(#2cceac, 5%);
    border: 2px solid darken(#2cceac, 5%);
  }

  &:focus {
    outline: 0;
  }

  .headerSwitchSlider {
    left: 26px;
  }
}
