.container {
  background: #fafafa;
  padding: 1rem;
  margin-top: 1rem;
  // max-width: 600px;
  width: 100%;
}

table.formTable {
  margin-bottom: 0;

  td {
    border-top: 0;
  }
}

.title {
  margin-bottom: 1rem;
}
