.container {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid grey;
  flex: 0 0 50px;
  background: white;
  z-index: 10;
  // position: fixed;
  // display: flex;
  // width: 100%;
}

.navLinks {
  width: 85%;
  display: flex;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.navLink {
  margin: 0 1rem;
  color: #95989a;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: unset;
  }
}

.activeNavLink {
  border-bottom: 2px solid #2cceac;
}

@media (min-width: 768px) {
  .linkContainer {
    flex-direction: row !important;
  }
}
