.container {
  // display: flex;
  // align-items: center;
  // width: 100%;
  // border-bottom: 1px solid var(--light-grey-color);
  // flex: 0 0 50px;
  // background: white;
  // z-index: 10;

  @media (max-width: 768px) {
    // flex: 0 0 auto;
    // padding-bottom: 1rem;
  }
}

// .navLinks {
//   width: 85%;
//   display: flex;
//   height: 50px;
//   line-height: 50px;
//   align-items: center;
//   background: cyan;
// }

// .navLink {
//   margin: 0 1rem;
//   color: var(--dark-color);
//   text-decoration: none;
//   padding: 16px 0px;
//   // font-weight: bold;
//   &:hover {
//     text-decoration: unset;
//   }

//   @media (max-width: 768px) {
//     padding: 0;
//   }
// }

// .activeNavLink {
//   border-bottom: 2px solid #2cceac;
// }

.linkContainer {
  flex-direction: column;
  padding-top: 25px;
  margin-top: 60px;
  margin-right: 70px;
  border-top: 2px solid #e3e3e3;

  li {
    margin-bottom: 25px;

    @media (max-width: 768px) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    border: 0;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}

.navLink {
  font-size: 18px;
  font-weight: bold;
  color: #707070;
}

.activeNavLink {
  position: relative;
  padding-bottom: 5px;
  // border-bottom: 3px solid var(--primary-color);

  @media (max-width: 768px) {
    padding-bottom: 0;
  }

  &::after {
    bottom: -5px;
    left: 0;
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    max-width: 111px;
    height: 0;
    border-bottom: 4px solid var(--primary-color);
  }
}
