.container {
  display: flex;
  min-height: 40px;
  padding-left: 40px;
  position: relative;
  align-items: center;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text {
  font-size: 15px;
  line-height: 25px;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}
