.container {
  height: 180px;
  color: #666;
  text-align: left;
  &:hover {
    background: #d3d3d3;
  }
}

.date {
  text-align: center;
  // margin-bottom: 5px;
  // padding: 4px;
  color: #707070;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  float: right;
  line-height: 32px;
}

.otherMonth {
  background: #d5d5d5;
  color: #666;
}

.dayLink {
  display: block;
  height: 100%;
  color: #666;
}

@media (max-width: 768px) {
  .otherMonth {
    display: none;
  }
  .date {
    float: none;
  }
  .courseContainer {
    display: none;
  }
}

// @media (max-width: 768px) {
//   .container {
//     // .weekdays, .other-month {
//     //   display: none;
//     // }

//     li {
//       height: auto !important;
//       border: 1px solid #ededed;
//       // width: 100%;
//       padding: 10px;
//       margin-bottom: -1px;
//     }

//     // .date {
//     //   float: none;
//     // }
//   }
// }
