.container {
  height: 180px;
  color: #666;
  text-align: left;
  &:hover {
    background: var(--highlight);
  }
}

.date {
  color: #707070;
}

.otherMonth {
  background: #d5d5d5;
  color: #666;
}

.otherMonthDate {
  color: var(--light-grey-color);
}

.dayLink {
  display: block;
  height: 100%;
  color: #666;
}

.more {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .otherMonth {
    display: none;
  }
  .date {
    float: none;
  }
  .courseContainer {
    display: none;
  }
}
