.container {
  height: 180px;
  color: #666;
  text-align: left;
  &:hover {
    background: var(--highlight);
  }
}

.date {
  float: none;
  color: #707070;
  font-size: 14px;
}

.otherMonth {
  background: #d5d5d5;
  color: #666;
}

.otherMonthDate {
  color: var(--light-grey-color);
}

.selectedDay.selectedDay {
  position: relative;
  box-shadow: inset 0px 0px 0px 3px #707070;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    background-color: #707070;
  }

  &::before {
    height: 3px;
    width: 100%;
  }

  &::after {
    height: 100%;
    width: 3px;
  }
}

.highlight {
  background-color: #2cceac;
  color: #fff;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 50%;
  text-align: center;
  width: 17px;
  height: 17px;
  line-height: 17px;

  @media (min-width: 1200px) {
    line-height: 23px;
    width: 22px;
    height: 22px;
  }
}

.dayLink {
  display: block;
  height: 100%;
  color: #666;
}

.more {
  margin-top: 12px;
}

.courseContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .otherMonth {
    display: none;
  }

  .courseContainer {
    flex-direction: row;
    min-height: 20px;
  }
  .more {
    display: none;
  }
}
