.rightPanel {
  display: block;
  background: white;
  padding: 16px;
  box-shadow: -1px 0 0 rgba(68, 68, 68, 0.1), -8px 0 40px rgba(68, 68, 68, 0.05);
  width: 340px;
  position: fixed;
  top: 147px;
  right: 0;
  height: calc(100% - 147px);
  z-index: 154;
  overflow: auto;

  > div {
    display: flex;
    flex: 1 1 1px;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    top: 0;
    left: 0;
    width: 100%;
    border-left: none;
    height: 100%;
    z-index: 1004;
  }
}

.fullPanel {
  top: 75px;
  height: calc(100% - 75px);
}
