.rightPanel {
  background: white;
  right: 0px;
  padding: 16px;
  margin-left: 16px;
  display: flex;
  border-left: 1px solid var(--light-grey-color);

  // width: 480px;
  width: calc(355px + 16px);
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 992px) {
    width: 100%;
    height: auto;
    padding: 0;
    border: none;
  }
}
