.rightPanel {
  display: flex;
  background: white;
  padding: 16px;
  border-left: 1px solid var(--light-grey-color);
  width: 340px;
  position: fixed;
  top: 147px;
  right: 0;
  height: calc(100% - 147px);
  z-index: 4;

  > div {
    display: flex;
    flex: 1 1 1px;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    top: 0;
    left: 0;
    width: 100%;
    border-left: none;
    height: 100%;
    z-index: 1004;
  }
}
