.container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 16px;
}

.orderTopSection {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: column-reverse;
    margin-top: -1.75rem;
  }
}

.title {
  font-size: 24px;
  line-height: 29px;
  font-family: var(--font-rift-bold);
  font-weight: normal;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  @media (max-width: 768px) {
    margin-top: 0;
    background-color: #fff;
    padding: 0 0 24px;
  }
}

.rowItem {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  align-items: center;
}

.subtitle {
  min-width: 95px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-rift);
  line-height: inherit;
}

.content {
  // padding-top: 11px;
  text-align: right;
  font-size: 15px;
  font-family: var(--font-proxima);
  line-height: normal;
}

.redHighlight {
  color: var(--danger-color);
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-proxima);
}

.information {
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-proxima);
  opacity: 0.5;
  margin-bottom: 1.5rem;

  @media (min-width: 769px) {
    margin-top: 1.5rem;
  }
}

.guaranteeInfo {
  display: flex;
  // height: 80px;
  margin-top: 2rem;

  @media (max-width: 768px) {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 769px) {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(#979797, 0.25);
  }
}

.confirmDisabled {
  opacity: 0.5;
}

.guaranteeLogo {
  img {
    width: 58px;
    height: 58px;
  }
}

.guarenteeContent {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  margin-left: 16px;
}

.guarantee1 {
  font-size: 14px;
  font-family: var(--font-proxima);
  line-height: 20px;
}

.guarantee2 {
  font-size: 12px;
  font-family: var(--font-proxima);
  line-height: 24px;
  color: var(--dark-color);
  text-decoration: underline;
  opacity: 0.5;
}

.action {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between !important;

  @media (min-width: 769px) {
    margin-top: 0.5rem;
  }
}

.hr {
  width: 100%;
}

.highlightedPrice {
  font-size: 20px;
  // color: var(--red-color);
  font-family: var(--font-proxima);
  line-height: 24px;
}

.acceptTermsWrapper {
  @media (max-width: 768px) {
    background-color: #fff;
    // padding: 30px 20px 20px;
    padding: 0;
    // margin-top: -40px;
  }
}

.acceptTermsWrapperHideMobile {
  @media (max-width: 768px) {
    padding: 0;
    background-color: transparent;
    // margin-top: -50px;
  }
}

.acceptTerms {
  margin-bottom: 25px;
  text-align: left;
  font-size: 15px;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 1.3;
  }

  label {
    font-weight: normal;
    font-size: 15px;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: #1f8f77;
    }
  }
}

.acceptTermsHideMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.dateError {
  margin-top: 0.5rem;
  color: #f86b6b;
  text-align: center;
}

.paymentError {
  color: #f86b6b;
  text-align: center;
  margin-bottom: 16px;
}

.hiddenOnMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.terms {
  ul {
    margin: 0;
    padding-left: 16px;
  }
  font-size: 12px;
  margin-top: 20px;
  line-height: 1.2;
}

.mapButton {
  appearance: none;
  display: inline;
  padding: 0;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  margin-bottom: 0.5rem;
  text-align: right;

  &:hover {
    color: #1f8f77;
  }

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.coursePrice,
.dateLimit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.limitedWarning {
  margin-top: -5px;
  display: flex;
  justify-content: flex-end;

  span {
    border-radius: 2px;
    background-color: #f6651b;
    line-height: 12px;
    letter-spacing: 0.2px;
    font-size: 10px;
    font-family: var(--font-proxima-bold);
    color: #fff;
    text-transform: uppercase;
    padding: 3px 6px;
  }
}

.requestedTime {
  font-weight: normal;
}

.totalPriceRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  padding: 2rem 0 0;

  @media (max-width: 768px) {
    padding: 0;
    border: 0;
    background-color: #fff;
    margin-top: 1.5rem;
  }

  div {
    color: #141414;
    font-family: var(--font-rift);
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;

    + div {
      color: #141414;
      font-family: var(--font-proxima);
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      text-align: right;
    }
  }
}

.sectionFooter {
  // padding-right: 30px;
  // padding-left: 30px;

  @media (max-width: 768px) {
    margin-top: 20px;
    background-color: #fff;
    padding-bottom: 10px;
  }
}

.bikeHireCost {
  margin-bottom: -1.5rem;

  @media (max-width: 768px) {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.POMPlaceholder {
  @media (max-width: 768px) {
    padding-bottom: 2rem;
  }
  @media (min-width: 768px) {
    margin: 1.75rem 0 2rem;
    height: 0;
    width: 360px;
    border-top: 1px solid rgba(#979797, 0.25);
  }
}

.discountRow {
  margin-top: 1rem;
  margin-bottom: -1rem;

  @media (min-width: 768px) {
    margin-bottom: -1.5rem;
  }
}

.cards {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;

  ul {
    margin-left: 8px;
  }
}
