.page {
  background-color: #f1f1f1;
}

.container {
  max-width: 1158px;
  padding: 0 24px;
  margin: 0 auto;
  overflow: hidden;
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
}

.header {
  padding: 3rem 0 calc(3rem + 115px);
  color: #fff;
  background-image: url('assets/images/black-background.png');
  background-size: cover;

  h1,
  h2 {
    font-weight: bold;
    text-align: center;
  }
}

.filterButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
  margin: 2rem auto;
}

.filterButton {
  appearance: none;
  width: 120px;
  height: 50px;
  padding: 0;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}

.results {
  font-size: 20px;
  font-weight: bold;
}

.listing {
  margin-top: -115px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
  margin-left: -40px;
}

.item {
  width: 100%;
  padding: 0 40px 40px;

  @media (min-width: 651px) {
    width: 50%;
  }

  @media (min-width: 1025px) {
    width: 33.3333333333%;
  }
}

.panel {
  > div:first-child {
    display: none;
  }
}
