.avatar {
  width: 38px;
  height: 38px;
  font-size: 20px;
  color: #87cdf0;
  font-weight: bold;
  border: 2px solid #e4e4e4;
  border-radius: 50%;
  text-align: center;
  line-height: 1.7;
}

.navigationBar {
  border-bottom: 2px solid var(--light-grey-color);
  text-align: center;
  background-color: #fff;
}
.navbar {
  @media (max-width: 768px) {
    margin-top: 0.5rem;
  }
}
.navItem {
  margin: 10px 0px;

  @media (max-width: 768px) {
    font-weight: bold;
    text-align: left;
  }
}
.navLinks {
  width: 85%;
  display: flex;
  height: 50px;
  line-height: 50px;
  align-items: center;
}
.logoImage {
  height: 40px;
  fill: var(--primary-color);
}
.darkLogo {
  fill: white;
  width: 200px;
}
.authMenu {
  // width: 100%;
  display: flex;
  align-items: center;
}
.navLink {
  margin: 0 1rem;
  color: var(--dark-color);
  text-decoration: none;
  &:hover {
    text-decoration: unset;
  }
}

.activeNavLink {
  color: var(--primary-color);
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid var(--primary-color);
}

@media (min-width: 768px) {
  .navigationBar {
    text-align: left;
  }
  .navItem {
    margin: 0px;
  }
  .navLink {
    // margin: 0 1.2rem;
    // color: var(--dark-color);
    // text-decoration: none;
    padding: 20px 0px;
    // &:hover {
    //   text-decoration: unset;
    // }
    font-size: 18px;
    font-weight: bold;
    color: #707070;
  }
  .activeNavLink {
    padding-bottom: 15px;
    border-bottom: 4px solid #2cceac;
  }
  .authMenu {
    // width: 250px;
  }
}

.addCourse {
  height: 44px;
  min-width: 90px;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
  width: 120px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #25ae92;
    border-color: #23a489;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

.navTools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schoolSelect {
  margin-left: auto;
  margin-right: 0.5rem;
  max-width: 177px;
}

.logoutButton {
  padding: 0;
  border: 0;
  appearance: none;
  background: transparent;
  color: var(--primary-color);
  margin: 0 1rem;
  font-weight: bold;
}

.isOpen {
  @media (max-width: 768px) {
    background: #fafafa;
    box-shadow: 0px 3px 6px #00000029;
  }
}
