.navigationBar {
  border-bottom: 1px solid var(--light-grey-color);
}

.navLinks {
  width: 85%;
  display: flex;
  height: 50px;
  line-height: 50px;
  align-items: center;
}
.logoImage {
  // width: 120px;
  height: 40px;
  fill: var(--primary-color);
  padding: 5px 10px;
}
.darkLogo {
  fill: white;
  width: 200px;
}
.authMenu {
  width: 15%;
  display: flex;
  align-items: center;
}
.navLink {
  margin: 0 1.2rem;
  color: #95989a;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 0px;
  &:hover {
    text-decoration: unset;
  }
}

@media (min-width: 768px) {
  .activeNavLink {
    border-bottom: 2px solid #2cceac;
  }
}
