.avatar {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #87cdf0;
  font-weight: bold;
  border: 2px solid #e4e4e4;
  border-radius: 50%;
  text-align: center;
  line-height: 1.8;
}

.navigationBar {
  text-align: center;
  padding: 16px !important;
  background-color: var(--color-light-gray);
}

.navbar {
  @media (max-width: 768px) {
    margin-top: 0.5rem;
  }
}

.navItem {
  margin: 10px 0px;

  @media (max-width: 768px) {
    font-weight: bold;
    text-align: left;
  }
}

.navLinks {
  width: 85%;
  display: flex;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.darkLogo {
  fill: white;
  width: 200px;
}

.authMenu {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.navLink {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 20px;
  margin: 0 5px;

  &:hover {
    background-color: var(--color-primary-bg);
    text-decoration: none;
    color: var(--color-primary);
  }
}

.activeNavLink {
  background-color: var(--color-primary-bg);
}

.addCourse {
  height: 44px;
  min-width: 90px;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
  width: 120px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #25ae92;
    border-color: #23a489;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

.navTools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schoolSelect {
  margin-left: auto;
  margin-right: 0.5rem;
  max-width: 177px;
}

.logoutButton {
  padding: 0;
  border: 0;
  appearance: none;
  background: transparent;
  color: var(--primary-color);
  margin: 0 1rem;
  font-weight: bold;
}

.isOpen {
  @media (max-width: 767px) {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.toggleButton {
  width: 56px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 38px !important;
}

.navBarTogglerOpen {
  border-color: transparent !important;
}

.closeIcon {
  font-size: 30px;
  line-height: 20px;
}
