.bikerPicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  label {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    color: #444;
  }

  .rightSide {
    display: flex;
    align-items: center;

    .minus,
    .plus {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: 1px solid var(--color-border);
      border-radius: 50%;
      background: transparent;
      color: #444;
      cursor: pointer;

      &:hover {
        border-color: #444;
      }
    }

    .minus {
      margin-right: 16px;
    }

    .plus {
      margin-left: 16px;
    }
  }

  > div > div {
    margin-bottom: 0;
    width: 1.5rem;

    input[type='number'] {
      height: 24px;
      padding: 0;
      width: 24px;
      text-align: center;
      appearance: none;
      margin: 0;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
