.orderForm {
  border-bottom: solid 1px #b7b7b7;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-bottom: 16px;
}

select {
  display: block;
  min-width: 100%;
}

.link {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions button {
  margin-left: 8px;
}
