.promoForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem -0.5rem;

  > div {
    margin-bottom: 0;
  }

  > * {
    padding: 0 0.5rem;
  }
}

.promoList {
  margin-bottom: 1rem;
}
