.container {
  position: fixed;
  left: 0;
  width: 320px;
  top: 147px;
  bottom: 0;
  background: white;
  padding: 16px 24px;
  border-right: 1px solid var(--color-border);
  z-index: 10;
  overflow: auto;

  @media (max-width: 767px) {
    width: 100%;
    border-right: none;
  }
}

.wrapper {
  width: 320px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.sectionTitle {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-dark);
  margin: 0;
}

.sectionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.divider {
  margin: 10px 0 30px;
  width: 100%;
  height: 1px;
  background: rgba(black, 0.05);
}

.sectionLabel {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: var(----color-dark-light);
  margin: 0;
}
