.courseSelect {
  font-family: Arial, Helvetica, sans-serif;
}

.times {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.finishTime {
  text-transform: uppercase;
}

.label {
  margin-right: 8px;
}
