:global(:root) {
  --color-primary: #4259a8;
  --color-light-gray: #fafafa;
  --color-dark: #444444;
  --color-dark-light: #707070;
  --color-highlight: #f5f5f5;
  --color-border: rgba(68, 68, 68, 0.1);
  --color-primary-bg: #4259a80b;
  --primary-color: #4259a8;
  --secondary-color: #2c4fd3;
  --info-color: #5bb5cb;

  --light-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-color: #434343;
  --grey-color: #707070;
  --danger-color: #fa0e0e;
  --warning-color: #fa840e;
  --highlight-color: #ddf9f3;
  --light-grey-color: #e4e4e4;
  // --light-grey-color: #fafafa;

  --font-stack: Inner, Helvetica, Arial, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-proxima: ProximaNova, Helvetica, Arial, sans-serif;
  --font-proxima-bold: ProximaNovaBold, Helvetica, Arial, sans-serif;
  --font-rift: RiftSoft-Medium, Helvetica, Arial, sans-serif;
}
