:global(:root) {
  --primary-color: #2cceac;
  --secondary-color: #2c4fd3;
  --info-color: #5bb5cb;

  --light-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-color: #141414;
  --grey-color: #707070;
  --danger-color: #fa0e0e;
  --red-color: #d0021b;
  --warning-color: #fa840e;
  --highlight-color: #ddf9f3;
  --light-grey-color: #e4e4e4;

  --font-stack: ProximaNova, Helvetica, Arial, sans-serif;
  --font-proxima: ProximaNova, Helvetica, Arial, sans-serif;
  --font-proxima-bold: ProximaNovaBold, Helvetica, Arial, sans-serif;
  --font-rift: RiftSoft-Medium, Helvetica, Arial, sans-serif;
  --font-rift-bold: Rift-Bold, RiftSoft-Medium, Helvetica, Arial, sans-serif;
}
