.panel {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

.title {
  appearance: none;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: #707070;
  background: transparent;
  border: 0;
}

.userPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userHasActions {
  max-width: calc(100% - 90px - 1rem);
}

.editingUser {
  margin-bottom: 1rem;
  max-width: none;
}

.name {
  display: block;
  margin-bottom: 0.25rem;
  cursor: pointer;
  word-break: break-word;
  text-align: left;
  line-height: 1;
}

.nameNoCursor {
  cursor: initial;
}

.details {
  @media (min-width: 768px) {
    margin-left: 25px;
  }
}

.updatedAt {
  font-size: 11px;
  font-style: italic;
}

.actions {
  margin-top: 1rem;
}
