.user {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -5px;

  svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
  }
}

.photo {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}
