$top: 56px;

:global(body.map-open) {
  overflow-y: hidden;
}

.container {
  position: fixed;
  top: $top;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100vh - #{$top});
  width: 100vw;
  background-color: black;
  z-index: 2;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  appearance: none;
  background: #fff;
  border: 0;
  height: 30px;
  border-radius: 4px;
  z-index: 99;
  line-height: 10px;
  cursor: pointer;
  padding-top: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.map {
  height: 100%;
  width: 100%;

  > div {
    height: 100%;
    width: 100%;
  }
}
