$top: 268px;

$topFullLicence: 218px;

:global(body.map-open) {
  overflow-y: hidden;
}

.container {
  position: fixed;
  top: $top;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100vh - #{$top});
  width: 100vw;
  background-color: black;
  z-index: 2;
}

.containerFullLicence {
  top: 218px !important;
  height: calc(100vh - 218px) !important;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  appearance: none;
  background: #fff;
  border: 0;
  height: 48px;
  width: 48px;
  border-radius: 9999px;
  z-index: 99;
  line-height: 10px;
  cursor: pointer;
  padding-top: 2px;
  &:focus {
    outline: 0 !important;
  }
  &:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
}

.searchLocationButton {
  position: fixed;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto;

  appearance: none;
  background: #fff;
  border: 0;
  height: 30px;
  border-radius: 4px;
  z-index: 99;
  line-height: 10px;
  cursor: pointer;
  padding-top: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: var(--primary-color);
    color: white;
    transition: 0.3s;
  }
  &:focus {
    outline: 0 !important;
  }
}

.map {
  height: 100%;
  width: 100%;

  > div {
    height: 100%;
    width: 100%;
  }
}

.loading {
  position: fixed;
  left: 50%;
  z-index: 1000;
}
