.coursesPanelItem {
  margin-bottom: 24px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.course {
  color: var(---grey-color);
  border: solid 1px var(--grey-color);

  flex-grow: 1;
  margin-right: 16px;
  padding: 4px 8px;
}

.notes {
  font-size: 11px;
  margin-bottom: 8px;
  color: var(--grey-color);
}

.warning {
  border: solid 1px var(--warning-color);
}

.danger {
  border: solid 1px var(--danger-color);
}

.actions {
  text-align: center;
}
