.coursesPanelItem {
  margin-bottom: 24px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.course {
  color: var(---grey-color);
  border: solid 1px var(--dark-color);

  flex-grow: 1;
  margin-right: 16px;
  padding: 0;
  padding-left: 4px;
  line-height: 37px;
}

.notes {
  font-size: 11px;
  margin-bottom: 8px;
  color: var(--grey-color);
  line-height: 1;
}

.testNotes {
  font-size: 12px;
  margin-bottom: 8px;
  color: black;
  line-height: 1.5;
}

.warning {
  border: solid 1px var(--warning-color);
}

.danger {
  border: solid 1px var(--danger-color);
}

.actions {
  text-align: center;
}
