.coursesPanelItem {
  margin-bottom: 36px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
  font-size: 11px;
}

.container {
  background-color: #fafafa;
}

.top {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: bold;
}

.title {
  font-size: 12px;
}

.course {
  flex-grow: 1;
  padding: 12px;
  color: #707070;
  // min-height: 50px;
}

.notes {
  font-size: 11px;
}

.testNotes {
  font-size: 11px;
  margin-bottom: 8px;
}

.warning {
  background-color: #ffcfa0;
}

.danger {
  background-color: #fe9898;
}

.actions {
  text-align: center;
}

.editButton {
  font-size: 12px;
  font-weight: bold;
  color: inherit;
}

.instAndSpaces {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  margin: 0.25rem 0;
}

.inst {
}

.personIcon {
  vertical-align: baseline;
}

.textMildWarning {
  color: var(--warning-color);
}
.textWarning {
  color: var(--danger-color);
}
.textDanger {
  color: var(--danger-color);
  text-transform: uppercase;
  font-weight: bold;
}
