.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addCourse {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: solid 1px var(--light-grey-color);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.inputNumber {
  width: 48px;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.notes {
  width: 100%;
  display: block;
  flex-grow: 1;
}

.notes textarea {
  width: 100%;
  display: block;
}

.inputDate {
  width: 96px;
}

.formGroup {
  display: flex;
  align-items: center;
}

.formGroup label {
  font-size: 15px;
  margin: 0;
  margin-right: 4px;
}

.grey {
  padding: 4px 6px;
  background: var(--light-grey-color);
}

.formSelect {
  min-width: 298px;
  width: 298px;
  border-radius: 0;
  padding: 8px 4px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editCourse {
  flex-grow: 1;
  margin-left: 8px;
}
