.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa;
  padding: 1rem;
  align-self: flex-start;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);

  &,
  * {
    font-size: 11px;
  }
}

.addCourse {
  width: 100%;
  position: relative;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 1px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 1px;
}

.addTitle {
  color: rgba(#444, 0.6);
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: solid 1px var(--light-grey-color);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.inputNumber {
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
}

.notes {
  width: 100%;
  display: block;
  flex-grow: 1;
}

.notes textarea {
  width: 100%;
  display: block;
}

.inputDate {
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: 15px;
  margin: 0;
}

.form {
}

.grey {
}

.formSelect {
  border-radius: 0;
  padding: 8px 4px;
}

.courseTypeSelect {
  height: 38px;
  // width: 282px;
  width: 100%;
  min-width: 160px;
  // min-width: 282px;
  border-radius: 0;
  padding: 8px 4px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 40px;

  > div {
    margin-top: 8px;
  }

  button {
    width: 100%;
  }

  button:nth-child(3) {
    margin-left: auto;
  }
}

.editCourse {
  flex-grow: 1;
  margin-left: 8px;
}

.heading {
  font-size: 15px;
  margin-top: 16px;
  font-weight: bold;
  color: var(--grey-color);
}

.formTable {
  margin-top: -0.75rem;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  color: rgba(#444, 0.6) !important;

  th {
    font-weight: 500;
    border: none !important;
    padding: 4px 0.75rem;
  }

  td {
    border-top: 0 !important;
    vertical-align: middle !important;

    > div {
      margin-bottom: 0;
    }
  }
}

.bikesAvailable {
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  color: rgba(#444, 0.6);
  margin-bottom: 16px;
}

.bikerPicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;

  .rightSide {
    display: flex;
    align-items: center;

    .minus,
    .plus {
      appearance: none;
      border: 0;
      background: transparent;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      padding: 0;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      line-height: 0;

      &:focus {
        outline: 0;
      }
    }

    .minus {
      font-size: 2rem;
      padding-bottom: 5px;
      margin-right: 0.5rem;
    }

    .plus {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
  }

  > div > div {
    margin-bottom: 0;
    width: 1.5rem;

    input[type='number'] {
      height: 1.25rem;
      appearance: none;
      margin: 0;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.timeRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.actionDelete {
  margin-top: 46px !important;
}
