.button {
  appearance: none;
  cursor: pointer;
  color: white !important;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;

  padding: 13px 32px;

  font-size: 20px;
  font-family: var(--font-rift);

  @media (max-width: 768px) {
    padding: 13px 32px;
    justify-content: space-between;
  }
}

@media (hover: hover) {
  a.button:hover {
    color: white;
    text-decoration: none;
  }
}

.buttonAlt {
  border: 1px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color) !important;
}

.buttonModern {
  width: 100%;
  font-family: var(--font-rift-bold);
  font-weight: normal;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  padding: 12px 2rem !important;
}
