.button {
  cursor: pointer;
  color: white !important;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 22px 32px;

  font-size: 20px;
  font-family: var(--font-rift);

  &:hover {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    padding: 16px 32px;
    justify-content: space-between;
  }
}
