.container {
  width: 100%;
  margin-left: 12px;
}

.avatar {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  color: var(--color-primary);
  font-weight: 500;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  text-align: center;
  transition: all ease 0.3s;

  &:hover {
    background-color: var(--color-primary);
    color: white;
  }
}

.userMenu {
  position: absolute;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid var(--color-border);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 220px;
  right: 16px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 18px;
  z-index: 2000;

  select {
    margin-top: 6px;
    margin-bottom: calc(0.5rem + 2px);
    width: 100%;
  }

  svg {
    top: 16px;
  }

  hr {
    margin: 0.7rem 0;
    width: 100%;
    border-top: 1px solid #e4e4e4;
  }

  button {
    font-size: inherit;
  }

  @media (min-width: 768px) {
    width: auto;
    left: auto;
    margin-top: 11px;
  }
}

.logoutLink {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  > * {
    margin-right: 10px;
  }
}
