.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin: 3px;
    min-width: 45px;
    &:focus {
      outline: 0;
    }
    &:hover {
      background-color: lightgrey;
    }
  }
}
