.checkout {
  font-size: 14px;

  .header {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .price {
    font-weight: bold;
  }

  .title {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    color: #707070;
  }

  label {
    margin-top: 19px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .input {
    display: block;
    width: 100%;
    max-width: 238px;
    height: 34px;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #f0f0f0;
  }

  .cards {
    img {
      width: 25px;
      height: auto;
      margin-left: 7px;
    }
  }
}
