.container {
  display: flex;

  @media (min-width: 768px) {
    margin-right: 0.5rem;
  }
}

.prev,
.next,
.today {
  appearance: none;
  border: 0;
  font-size: 0;
  width: 40px;
  background: var(--color-primary-bg);
  color: var(--color-dark-light) !important;
  border-radius: 20px;
  transition: all ease 0.3s;
  padding: 0;

  i {
    font-size: 16px;
    line-height: 40px;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    color: white !important;
    background: var(--color-primary);
  }
}

.prev {
  margin-right: 4px;
}

.next {
  margin-left: 4px;
}

.today {
  font-size: 13px;
  font-weight: 500;
  width: auto;
  padding: 0 16px;
}
