.container {
  display: flex;

  @media (min-width: 768px) {
    margin-right: 0.5rem;
  }
}

.prev,
.next,
.today {
  padding: 0 0.5rem;
  appearance: none;
  border: 0;
  background: transparent;
  font-size: 1.75rem;
  line-height: 1;
  border: 1px solid #e4e4e4;
  min-width: 30px;
  min-height: 38px;

  &:focus {
    outline: 0;
  }
}

.prev {
  border-right: 0;
}

.next {
  border-left: 0;
}

.today {
  font-size: 1rem;
}
